

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {  
   .admin{
      background-color: pink ;
    } 
}
// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .admin{
    background-color: yellow  ;
  }
}
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {  
  .admin{
      background-color: green  ;
    }
}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {    
  .admin{
      background-color: red  ;
    } 
  }




