<!-- <div fxLayout="row" fxLayoutAlign="center center" class="change-password">
	<form [formGroup]="changePasswordForm" (ngSubmit)="changePassword(changePasswordForm)">
		<mat-card>
			<h4 class="mat-error" *ngIf="server_msg" [innerHTML]="server_msg"></h4>
			<mat-card-content>
				<div fxFlex="50">
					<mat-form-field class="custom-input" floatLabel="never" [ngClass]="{'mat-focused': inputFocus}">
						<input matInput id="changePwd" #myInput  (keypress)="EnterInput($event)" placeholder="{{language.defaults.oldPassword}}" type="password" formControlName="oldPassword">
						<mat-error *ngIf="changePasswordForm.controls.oldPassword.hasError('required')">{{language.validations.oldPassword}}</mat-error>
					</mat-form-field>
					<mat-form-field class="custom-input" floatLabel="never">
						<input matInput (keypress)="EnterInput($event)"  placeholder="New Password" type="password" formControlName="newPassword">
						<mat-error *ngIf="changePasswordForm.controls.newPassword.hasError('required')">{{language.validations.newPassword}}</mat-error>
					</mat-form-field>
					<mat-form-field class="custom-input" floatLabel="never">
						<input matInput (keypress)="EnterInput($event)" placeholder="Confirm Password" type="password" formControlName="confirmPassword">
						<mat-error *ngIf="changePasswordForm.controls.confirmPassword.hasError('MatchPassword')">{{language.defaults.passwordMismatch}}</mat-error>
						<mat-error *ngIf="changePasswordForm.controls.confirmPassword.hasError('required')">{{language.validations.confirmPassword}}</mat-error>
					</mat-form-field>
				</div>
				<div fxFlex="50" class="pwd_hints">
					<span>{{language.defaults.passwordMustBe}}</span>
					<ul class="pwd_hints_list">
						<li [class.danger]="changePasswordForm.controls.newPassword.hasError('minlength') || changePasswordForm.controls.newPassword.hasError('maxlength')" [class.success]="!changePasswordForm.controls.newPassword.hasError('minlength') && !changePasswordForm.controls.newPassword.hasError('maxlength')">{{language.defaults.minimumCharacters}}</li>
						<li [class.danger]="changePasswordForm.controls.newPassword.hasError('upperCase')" [class.success]="!changePasswordForm.controls.newPassword.hasError('upperCase')">{{language.defaults.atleastUpperCaseChar}}</li>
						<li [class.danger]="changePasswordForm.controls.newPassword.hasError('lowerCase')" [class.success]="!changePasswordForm.controls.newPassword.hasError('lowerCase')">{{language.defaults.atleastLowerCaseChar}}</li>
						<li [class.danger]="changePasswordForm.controls.newPassword.hasError('number')" [class.success]="!changePasswordForm.controls.newPassword.hasError('number')">{{language.defaults.atleastNumber}}</li>
					</ul>
				</div>
			</mat-card-content>
		<mat-card-actions>
			<span fxFlex></span>
			<button type="button" mat-button  (click)="reset()">{{language.defaults.cancel}}</button>
			<button type="submit" mat-raised-button color="primary">{{language.defaults.changePassword}}</button>
		</mat-card-actions>
		</mat-card>
	</form>
</div> -->
<!-- [disabled]="!enterInputDisable" -->

<style>
	iframe { border: 0; width: 100%; height: 100%; }


</style>
<iframe  [src]="urlPath"></iframe>

