<section class="hiden-stepper">
  <mat-horizontal-stepper class="inv-stepper" #stepper>
    <mat-step>
      <div
        class="center-section-scroll expansion-panel-ui vh-100 d-flex body-color"
      >
        <mat-toolbar class="page-header-ui">
          <div
            class="flex-fixed-header page-title min-container"
            style="margin: 0 auto"
          >
            <div (click)="goBack(stepper)" class="detail-back-action">
              <mat-icon
                class="back-to-orders mat-icon material-icons"
                role="img"
                aria-hidden="true"
                >arrow_back</mat-icon
              >
            </div>
            <span
              class="title"
              title="{{ BatchName }}"
              [innerHtml]="BatchName"
            ></span>

            <span fxFlex></span>
            <!-- <div class="icons">
              <button
                mat-icon-button
                (click)="batchDelete(stepper)"
                #removeFocus
              >
                <mat-icon class="delete-icon" title="Delete" mat-icon-button
                  >delete</mat-icon
                >
              </button>
            </div> -->
          </div>
          <!--<mat-icon class="arrow-left"(click)="goBack(stepper)">keyboard_arrow_left</mat-icon>-->
          <!--<mat-icon class="back-to-orders mat-icon material-icons" role="img" aria-hidden="true">arrow_back</mat-icon>-->
        </mat-toolbar>

        <div
          class="w-100 expansion-panel-scroll"
          style="height: calc(100vh - 70px)"
          [class.show-footer]="reportsFooter"
        >
          <div
            class="min-container body-white"
            style="
              margin: 0 auto;
              margin-top: 16px;
              border: 1px solid rgb(216, 218, 221);
            "
          >
            <div class="header-icon-container" *ngIf="!editable && currentTabIndex == 0 &&adminService.rolePermissions.edit_inventory == 1">
              <div class="edit_icon" title="Edit" (click)="editInventory()">
                <img [src]="EditIcon" alt="edit" />
              </div>
            </div>
            <!-- <mat-toolbar class="batch-name" *ngIf="selectedBatch">
                <mat-toolbar-row>
                <div class="icon-sec">
                                        <img [src]='images.batchIcon_o' title="Inventory" class="detail-icon">
                                        <div class="inv-text" [innerHtml]="selectedBatch.name"></div>
                                    </div> 
                </mat-toolbar-row>
            </mat-toolbar>-->
            <mat-tab-group #batchTabGroup class="inv-detail" (selectedIndexChange)="onTabChange($event)">
              <mat-tab label="Batch Details">
                <div
                  class="min-container"
                  id="custome-gaps"
                  style="
                    height: calc(100vh - 140px);
                    overflow-y: auto;
                    margin: 0 auto;
                    border-top: none;
                  "
                  *ngFor="let detail of selectedBatchList"
                >
                  <div class="ex-row" *ngIf="!editable">
                    <div class="grid-six">
                      <h3 class="inv-readonly font-600">
                        {{ language.defaults.batchNumber }}
                      </h3>
                      <span class="inv-para">{{ detail?.batch_number }}</span>
                    </div>
                    <div class="grid-six">
                      <h3 class="inv-readonly font-600">Category</h3>
                      <span class="inv-para">{{ detail?.category_id }}</span>
                    </div>
                    <div class="grid-six">
                      <h3 class="inv-readonly font-600">Products</h3>
                      <span class="inv-para">{{ detail?.product_name }}</span>
                    </div>

                    <div class="grid-six">
                      <h3 class="inv-readonly font-600">
                        {{ language.defaults.totalQuantity }}
                      </h3>
                      <span class="inv-para">{{ detail?.total_quantity }}</span>
                    </div>
                    <div class="grid-six">
                      <h3 class="inv-readonly font-600">Remaining Quantity</h3>
                      <span class="inv-para">{{
                        detail?.remain_quan || detail?.total_quantity
                      }}</span>
                    </div>
                    <div class="grid-six">
                      <h3 class="inv-readonly font-600">
                        {{ language.defaults.manufacturingDate }}
                      </h3>
                      <span class="inv-para">{{
                        detail?.manufacturing_date | date : "dd/MMM/yyyy"
                      }}</span>
                    </div>
                    <div class="grid-six">
                      <h3 class="inv-readonly font-600">
                        {{ language.defaults.expiryDate }}
                      </h3>
                      <span class="inv-para">{{
                        detail?.expiry_date | date : "dd/MMM/yyyy"
                      }}</span>
                    </div>
                    <div class="grid-six">
                      <h3 class="inv-readonly font-600">Status</h3>
                      <span class="inv-para">{{ detail?.status.label }}</span>
                    </div>
                    <div class="grid-full">
                      <h3 class="inv-readonly font-600">
                        Special Instructions
                      </h3>
                      <span
                        class="inv-para"
                        style="white-space: pre-wrap; overflow-wrap: break-word"
                        >{{ detail?.special_instructions }}</span
                      >
                    </div>
                  </div>

                  <!-- <div class="batch-edit" *ngIf="!editable">
                  
                    <a
                      title="Edit"
                      class="primary-text-link"
                      style="cursor: pointer"
                      (click)="editInventory()"
                      >Edit</a
                    >
                  </div> -->
                  <div class="edit-tab" *ngIf="editable">
                    <form [formGroup]="editForm" class="ex-row form-ui">
                      <app-form-builder
                        [module]="'add_inventory'"
                        (trigger)="formEmitEvent($event)"
                        [batchId]="invId"
                        [editableForm]="true"
                      ></app-form-builder>
                      <div style="clear: both"></div>
                      <!-- <input type="text" #manufactureDate [placeholder]="language.defaults.manufacturingDate" class="digital-bush date-range datepicker" readonly/> -->
                      <div
                        fxLayout="row"
                        class="w-100"
                        style="padding: 0 16px"
                        fxLayoutAlign="end center"
                        *ngIf="showSavePanel"
                      >
                        <button
                          class="back-btn-ui"
                          (click)="resetInventory(editForm)"
                        >
                          {{ language.defaults.cancel }}
                        </button>
                        <button
                          mat-raised-button
                          (click)="update(editForm)"
                          [disabled]="editForm.invalid"
                        >
                          {{ language.defaults.save }}
                        </button>
                      </div>
                    </form>
                  </div>
                </div>

                <div
                  class="container-ui new-center-empty-ui"
                  *ngIf="selectedBatchList.length == 0"
                >
                  <mat-card class="no-results">
                    <div class="empty-img-holder">
                      <img [src]="images.batchIcon_o" />
                    </div>
                    <p class="no-result-text">No Data Found</p>
                  </mat-card>
                </div>
              </mat-tab>

              <mat-tab label="Quantity Used Details" class="client-orders">
                <div class="client-reports inventory">
                  <table class="client-detail-table">
                    <thead>
                      <tr>
                        <th>Organization Name</th>
                        <th>Total Quantity</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let detail of selectedClientDetail">
                        <td>{{ detail.name }}</td>
                        <td>{{ detail.total_quantity }}</td>
                      </tr>
                    </tbody>
                  </table>
                  <p
                    *ngIf="!selectedClientDetail.length"
                    style="
                      text-align: center;
                      color: #737373;
                      font-size: 18px;
                      padding: 18px;
                    "
                  >
                    No Data Found
                  </p>
                </div>

                <!-- <div class="no-record no-clients" *ngIf="!selectedClientDetail.length">
                                    <p>No Data Found</p>
                                </div> -->
              </mat-tab>
            </mat-tab-group>
          </div>
          <div
            class="footer-bottom inventory-reports fxflex animated slideInUp"
            fxLayout="row"
            fxLayoutAlign="end center"
            *ngIf="reportsFooter"
          >
            <button
              type="button"
              class="back-btn-ui"
              (click)="cancelReportsTable()"
            >
              {{ language.defaults.cancel }}
            </button>
            <button
              type="submit"
              mat-raised-button
              (click)="saveReportsTable()"
            >
              {{ language.defaults.save }}
            </button>
          </div>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</section>
