<div class="app-modal steps-modal-ui" [class]="(App.user_details.log_type!='2'?'app-modal admin':'app-modal client')">
    <mat-toolbar>
        <h2 mat-dialog-title></h2>
        <span fxFlex class="modal-title" *ngIf="(App.user_details.log_type!='2')">
            <mat-icon *ngIf="(stepper._selectedIndex!='0')" (click)="goToPrev(stepper)" class="back-to-orders material-icons">arrow_back</mat-icon>
            <span *ngIf="(stepper._selectedIndex =='0')&& (!newClient)">Create Order</span>
            <span *ngIf="(stepper._selectedIndex =='0')&& (newClient)">Add Client </span>
            <span *ngIf="(stepper._selectedIndex =='1')">Order Details</span>
            <span *ngIf="(stepper._selectedIndex =='2')">Select Address</span>
            <span *ngIf="(stepper._selectedIndex =='3')">Add New Address</span>
            <span *ngIf="(stepper._selectedIndex =='4')">Order Confirmation</span>
        </span>
        <span fxFlex class="modal-title" *ngIf="(App.user_details.log_type=='2')">
            <mat-icon *ngIf="(stepper._selectedIndex!='0')" (click)="goToPrev(stepper)" class="back-to-orders material-icons">arrow_back</mat-icon>
            <!-- <span *ngIf="(stepper._selectedIndex =='0')">Create Order</span> -->
            <span *ngIf="(stepper._selectedIndex =='0')">Order Details</span>
            <span *ngIf="(stepper._selectedIndex =='1')">Select Address</span>
            <span *ngIf="(stepper._selectedIndex =='2')">Add New Address</span>
            <span *ngIf="(stepper._selectedIndex =='3')">Order Confirmation</span>
        </span>
    </mat-toolbar>

    <mat-spinner class="medium-spinner" *ngIf="confirOrderLoad"></mat-spinner>
    <mat-horizontal-stepper class="step" @stepTransition #stepper [class]="'step_'+stepper._selectedIndex">

        <mat-step *ngIf="(App.user_details.log_type!='2')">
            <mat-dialog-content class="client-step-content" cdk-focus-initial>

                <form [formGroup]="clientsForm"   >
                    <mat-list class="pad_0">
                        <div style="display:flex">
                            <mat-checkbox
                            *ngIf="!newClient"  class="product-name sample_ord_chkbox"  formControlName="is_sample_order"
                             title="Sample Order">
                             <div class="zero-val">
                                <div>Sample Order </div>
                                <small class="op-6">This would create a zero-value Invoice</small>
                            </div>
                            </mat-checkbox>



                         </div>


                        <mat-form-field  class="custom-input mandatory"  floatLabel="never">
                            <input placeholder="Select Client" matInput [matAutocomplete]="auto"
                            [value]="modelData.name" formControlName="client" (keyup)="selectedClients($event)">

                            <button type="button" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
                                <mat-icon>keyboard_arrow_down</mat-icon>
                            </button>
                            <div>
                                <mat-autocomplete  #auto="matAutocomplete" auto>
                                    <mat-option (onSelectionChange)="selectionChange(client)"
                                     *ngFor="let client of order.organizations" [value]="client.name">
                                        <span>{{ client.name }}</span>
                                    </mat-option>
                                </mat-autocomplete>
                            </div>
                            <!-- <label class="custom-label">Select Client</label>
                            <mat-select placeholder="Select Client" formControlName="client">
                                <mat-option *ngFor="let client of order.organizations" [value]="client.id">
                                    {{ client.name }}
                                </mat-option>
                            </mat-select> -->
                            <mat-error *ngIf="clientsForm.controls.client.hasError('required') && !showError" >
                                Please Select Client
                            </mat-error>
                            <p class="edit-err" *ngIf="showError &&!newClientadded">{{errormessage}}</p>
                        </mat-form-field>

                        <div  *ngIf="!newClientadded" style="width: 25%;">
                            <span class="add-link"    *ngIf=" addNew" (click)="createClient()">
                                <mat-icon class="mat-icon material-icons">add</mat-icon>Add New Client
                            </span>
                        </div>



                        <!-- <div class="inline-err" *ngIf="!newClient">
                            <span class="add-link"    *ngIf="!(order.organizations?.length) || addNew" (click)="goToCreateClient()">
                                <mat-icon class="mat-icon material-icons">add</mat-icon>Add New Client
                            </span>
                        </div> -->


                    </mat-list>
                </form>

            </mat-dialog-content>
            <mat-dialog-actions>
                <span fxFlex></span>
                <button tyep="button" mat-button mat-dialog-close>Close</button>
                <button type="button" mat-raised-button color="primary"     (click)="goToProducts(stepper)">Select Product</button>

            </mat-dialog-actions>
        </mat-step>

        <mat-step class="product-list-step">
            <mat-dialog-content>
                <!-- <div class="notification">clientsForm
                    <div class="banner-content">clientsForm

                    </div>
                </div> -->

                <!-- <div class="modal-label">
                    <div class="product-label">Select Product</div>
                <span *ngIf="productSubmit && order.selectedProductsError" class="error-msg">Please Select Product</span>
                </div> -->
                <div class="app-search-container search-small p-b-16">
                    <mat-form-field class="search" floatLabel="never">
                        <input matInput placeholder="Search Categories, Products" #search
                            (keyup)="searchOrders(search.value, $event)"
                            
                            (blur)="!search.value.length ? open = false : open = true"
                            >
                        <mat-icon matPrefix class="org-search">search</mat-icon>
                        <mat-icon matSuffix *ngIf=" searching" class="spinner">
                            <mat-spinner class="small-spinner"></mat-spinner>
                        </mat-icon>
                        <mat-icon matSuffix *ngIf="!searching && search.value.length"
                            (click)="search.value = '';searchOrders(search.value,'','close')">close</mat-icon>
                    </mat-form-field>
                </div>
                <p class="custome-label-ui">Select Product <span class="required-ui">*</span></p>
                <div  class="product-list-ui-header">
                    <h3 class="product-name"   fxFlex="50" >PRODUCT</h3>
                    <!-- <span fxFlex></span> -->
                    <h3  fxFlex="25" >QUANTITY</h3>
                    <!-- <span fxFlex></span> -->
                    <h3 fxFlex="25" class="text-right justify-content-end" >PRICE/KG</h3>
                </div>
                <!-- <div class="no-product" *ngIf="!order.products">No Products for this client.</div> -->
                <div class="orders-products-data">

                <mat-list class="products-list" infinite-scroll [scrollWindow]="false" [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50"
                (scrolled)="onScrollDown()"  >
                    <ng-container *ngFor=" let item of checkedArr | keyvalue " >
                        <h3 class="category" >{{item.key}}</h3>
                        <div *ngFor="let product of item.value ; let i = index">
                            <!-- <mat-list-item  [fxHide]="!product.checked_status"> -->
                                <mat-list-item>
                                <mat-checkbox (click)="changeCheckbox(product)" [(ngModel)]="product.selected"   fxFlex="50" class="product-name" title="{{product.name}}">{{product.name}}</mat-checkbox>
                                <!-- <span fxFlex></span> -->
                                <div fxFlex="25" class="d-flex align-items-center">
                                    <input type="number" style="min-width: 70px !important"  #myInput matInput class="inputBox"
                                     fxFlex="25"  min="0" max=""  oninput="validity.valid||(value='')" (keyup)="selectedProductRange(product, $event)" (input)="changeProductPrice(product,$event)"
                                     [class.bdr-error]="product.error" [(ngModel)]="product.quantity" placeholder="0">
                                    <h6 class="weight-label">{{product.uom_name}}</h6>
                                </div>
                                <!-- <md-error>Please enter a value between 0 and 100</md-error> -->
                                <!-- <p  *ngIf="quantError"> enter 1 to 10</p> -->
                                <div fxFlex="25">
                                    <span class="price-label">{{order.currency+' '+ (product.price || 0)}}</span>
        
                                </div>
        
        
        
                            </mat-list-item>
                        </div>
                    

                </ng-container>
                <p style="padding: 15px;
                text-align: center;" class="custom-label" *ngIf="showNoProdFound">No Products Found</p>

                </mat-list>
            </div>

                <span *ngIf="productSubmit && order.selectedProductsError" class="error-msg">Please Select Product</span>

                <mat-list>
                    <form [formGroup]="productsForm">
                        <!-- <div class="upload-suggestion">
                          <div>
                            <label>Valid File Types: </label>
                            <p>pdf, jpeg, png and jpg</p>
                          </div>
                          <div>
                            <label>File Size: </label>
                            <p>Upto 5MB</p>
                          </div>
                        </div> -->
                        <div fxLayout="row" class="image-upload" [class.not-allowed]="pointerEvent">
                            <div ng2FileDrop [ngClass]="{'file-over': hasDropZoneOver}" (fileOver)="fileOverBase($event)" (onFileDrop)="fileDrop($event)"
                                    [uploader]="uploader" class="file-drop-zone">
                                <input id="add-purchase-order" type="file" ng2FileSelect [uploader]="uploader" (change)="fileSelected($event)" [hidden]="true"/>
                                <label for="add-purchase-order">
                                    <span class="material-icons">
                                        photo_library
                                        </span>
                                    <p>{{language.defaults.dragHere}} your image, <span style="text-transform: lowercase;">{{language.defaults.or}}</span> <span class="primary-text-link " style="font-weight: normal; padding: 0;"> {{language.defaults.browse}}</span></p>
                                   <small>supports: pdf, jpeg, png and jpg, File Size:Upto 5MB</small>
                                </label>
                            </div>

                            <div class="images">
                                <ul *ngIf="uploads.length">
                                    <li *ngFor="let file of uploads; let i = index">
                                        <img [src]="file.source_path" alt="file.filename">
                                        <div class="overlay"></div>
                                        <mat-icon class="delete" (click)="deleteItem(i)">delete</mat-icon>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <p class="error-msg m_3" *ngIf="uploadImage">*You have selected an invalid file type. Only jpg, jpeg, png files are allowed.</p>
                        <p class="error-msg m_3" *ngIf="sizeError">*File Size Exceeds Max Limit 5mb</p>

                        <div class="d-flex d-row customized-row-for-fields">
                            <aside class="col-6">
                            <mat-form-field [ngClass] = "is_sso ? 'custom-input mandatory' : 'custom-input'" floatLabel="never">
                                <label [ngClass] = "is_sso ? 'custom-label mandatory' : 'custom-label'">PO NO</label>
                                <input matInput   formControlName="po_no" placeholder="PO No">
                                <mat-error class="error-msg" *ngIf="is_sso && productSubmit || !productsForm.controls.po_no.pristine && productsForm.controls.po_no.hasError('required')" >
                                    Please enter PO NO
                                </mat-error>
                            </mat-form-field>
                        </aside>
                        <aside class="col-6">
                            <mat-form-field class="custom-deliveryDate" floatLabel="never">
                                <label class="custom-labeldate po-date">PO Date</label>
                                <input matInput class="datepicker"  (focus)="openCalendar(picker2)" (click)="openCalendar(picker2)"
                                    formControlName="po_date" [(ngModel)]="poDate" [matDatepicker]="picker2"
                                    placeholder="PO Date">
                                <mat-datepicker-toggle class="mat-picker" matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2 startView="year"></mat-datepicker>
                            </mat-form-field>
                        </aside>
                        </div>
                        <div class="d-flex d-row ">
                            <aside class="col-6">
                                <div class="multi-select mandatory   custome-multy-select-ui mandatory">
                                    <div class="multi-select mandatory">
                                        <!-- <mat-label class="label-attention mandatory">Attention</mat-label> -->
                                        <label class="custom-label mandatory">Attention</label>
                                    <ng-select
                                                [items]="contactsList"
                                                bindLabel="name"
                                                bindValue="name"
                                                addTagText = "Add Attention"
                                                [addTag]="true"
                                                [clearable]= "false"
                                            
                                                (change)="changeUser($event)"
                                                [multiple]="false"
                                                placeholder="Select User"
                                                formControlName="kindAttn">
                                    </ng-select>
                                    <mat-error class="error-msg" *ngIf="productSubmit && productsForm.controls.kindAttn.hasError('required')" >
                                        Please Select User
                                    </mat-error>
                                    </div>
                                </div>
                            </aside>
                            <aside class="col-6">
                                <div class="ext-section customized-row-for-fields ">
                                    <mat-form-field class="custom-input mandatory w_75" floatLabel="never">
                                        <label class="custom-label mandatory">Phone Number</label>
                                        <!-- minlength="10" maxlength="10" -->
                                        <input type="text" maxlength="15" formControlName="phone" matInput placeholder="Phone Number">
                                        <mat-error class="error-msg" *ngIf=" productsForm.controls.phone.hasError('required')" >
                                            Please Enter Phone Number
                                        </mat-error>
                                        <mat-error *ngIf="productsForm.controls.phone.hasError('pattern')">Please Enter Valid Phone Number</mat-error>
                                        <mat-error *ngIf="!productsForm.controls.phone.hasError('pattern') && productsForm.controls.phone.hasError('minlength')">Phone Number must be minimum 6 characters</mat-error>

                                        <!-- <div *ngIf="productsForm.get('phone').hasError('minlength')" >
                                            <span style="color: red;">Phone Number should contain minimum 10 characters</span>
                                          </div>   -->
                                          <!-- <div *ngIf="productSubmit || productsForm.get('phone').hasError('maxlength')" >
                                            <span style="color: red;">Phone Number should contain maximum 15 characters</span>
                                          </div>   -->
                                    </mat-form-field>
                                    <mat-form-field class="custom-input ext-label" floatLabel="never">
                                        <label class="custom-label">Ext</label>
                                        <input matInput placeholder="Ext"  maxlength="3" formControlName="ext">
                                        <mat-error *ngIf="productsForm.controls.ext.hasError('pattern')">Please Enter Valid Ext</mat-error>
                                    </mat-form-field>
                                </div>
                            </aside>
                        </div>


                        <div class="d-flex d-row customized-row-for-fields">
                            <aside class="col-6">
                                <mat-form-field class="custom-input mandatory" floatLabel="never">
                                    <label class="custom-label mandatory">Email Address</label>
                                    <input matInput formControlName="email" placeholder="Email Address" (keyup)="valueChanged($event)">
                                    <mat-error class="error-msg" *ngIf="showValidation" >
                                        Please Enter Email Address
                                    </mat-error>
                                    <mat-error class="error-msg" *ngIf = "!productsForm.controls.email.hasError('required') && productsForm.controls.email.hasError('pattern')" >
                                        {{language.validations.emailValidation}}
                                    </mat-error>
                                </mat-form-field>
                            </aside>
                            <aside class="col-6">
                                <mat-form-field class="custom-deliveryDate " floatLabel="never">
                                    <label class="custom-labeldate ddate"> Dispatch Date</label>
                                    <input matInput class="datepicker" [min]="now" [max]="deliveryDate" (focus)="openCalendar(picker1)"
                                     (click)="openCalendar(picker1)"  formControlName="dispatch_date" [(ngModel)]="dispatchDate"
                                    [matDatepicker]="picker1" placeholder="Dispatch Date">
                                    <!-- <mat-error class="error-msg" *ngIf="productSubmit || !productsForm.controls.dispatch_date.pristine && productsForm.controls.dispatch_date.hasError('required')" >
                                        Please Select Dispatch Date
                                    </mat-error> -->
                                <mat-datepicker-toggle class="mat-picker" matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1 startView="year"></mat-datepicker>
                                </mat-form-field>
                            </aside>

                            </div>
                            <div class="d-flex d-row customized-row-for-fields">
                                <aside class="col-6">
                                    <mat-form-field class="custom-deliveryDate mandatory" floatLabel="never">
                                        <label class="custom-labeldate">Expected Delivery</label>
                                        <input matInput class="datepicker" [min]="dispatchDate" (focus)="openCalendar1(picker3)" (click)="openCalendar1(picker3)"  formControlName="delivery_date" [(ngModel)]="deliveryDate"
                                        [matDatepicker]="picker3" placeholder="Expected Delivery">
                                        <mat-error class="error-msg" *ngIf="productSubmit || !productsForm.controls.delivery_date.pristine && productsForm.controls.delivery_date.hasError('required')" >
                                            Please Select Expected Delivery Date
                                        </mat-error>
                                    <mat-datepicker-toggle class="mat-picker" matSuffix [for]="picker3"></mat-datepicker-toggle>
                                    <mat-datepicker #picker3 startView="year"></mat-datepicker>
                                    </mat-form-field>
                                </aside>

                            </div>



                        <mat-form-field class="custom-input m-t-20" floatLabel="never" >
                            <label class="custom-label" style="    color: #6c757d;
                            margin-bottom: 8px;
                            top: -16px;
                            font-size: 12px;">Special Instructions</label>
                            <textarea matInput formControlName="special_instructions" maxlength="255" placeholder="Special Instructions"></textarea>
                        </mat-form-field>
                    </form>



                </mat-list>
            </mat-dialog-content>
            <mat-dialog-actions>
                <button mat-button (click)="goToPrev(stepper)" class="back-btn">Back</button>
                <span fxFlex></span>
                <button mat-button mat-dialog-close>Close</button>
                <button mat-raised-button color="primary" (click)="goToAddress(stepper)">Select Address</button>
            </mat-dialog-actions>
        </mat-step>
        <mat-step class="address-list-step">
            <mat-dialog-content class="address-content">
                <mat-toolbar class="mat-toolbar-strip">
                    <h3>Select Shipping Address</h3>
                    <span fxFlex></span>
                    <span class="add-link" (click)="goToCreateAddress(stepper, 'client')">
                        <mat-icon class="mat-icon material-icons">add</mat-icon>Add New
                    </span>
                </mat-toolbar>
                <mat-selection-list class="address-selection">
                        <p class="address-error" *ngIf="addressSubmit && order.selectedShippingError">Please Select Shipping Address</p>


                    <mat-list-option selected="{{address.selected}}"
                                    (click)="selectAddress(address, order.clientAddress, 1)"
                                    class="orders-list"
                                    *ngFor="let address of order.clientAddress">
                                    <p>{{address?.company_name}}</p>
                                    <p>{{address.address1}}</p>
                                    <p>{{address.address2}}</p>
                                    <p>{{address.city}}</p>
                                    <p>{{address.state}}</p>
                                    <p>{{address.country_name}}</p>
                    </mat-list-option>
                </mat-selection-list>
                <mat-toolbar class="mat-toolbar-strip" >
                    <h3>Select Billing Address</h3>
                    <span fxFlex></span>
                    <span class="add-link" (click)="goToCreateAddress(stepper, 'company')">
                        <mat-icon class="mat-icon material-icons">add</mat-icon>Add New
                    </span>
                </mat-toolbar>
                <mat-selection-list class="address-selection">
                    <p class="address-error" *ngIf="addressSubmit && order.selectedBillingError">Please Select Billing Address</p>
                    <!-- <span fxFlex></span> -->


                    <!-- <mat-checkbox    class="product-name" (click)="getAddressSame(clientAddress)"  title="Sample Order"></mat-checkbox> -->
                        <mat-list-option selected="{{address.selected}}" (click)="selectAddress(address, order.companyAddress, 2)" class="orders-list" *ngFor="let address of order.companyAddress">
                                <p>{{address?.company_name}}</p>
                                <p>{{address.address1}}</p>
                                <p>{{address.address2}}</p>
                                <p>{{address.city}}</p>
                                <p>{{address.state}}</p>
                                <p>{{address.country_name}}</p>
                        </mat-list-option>
                    </mat-selection-list>

                    <div >
                        <mat-toolbar class="mat-toolbar-strip">
                            <h3>Select Notify Address</h3>
                            <span fxFlex></span>
                            <span class="add-link" (click)="goToCreateAddress(stepper, 'notify')">
                                <mat-icon class="mat-icon material-icons">add</mat-icon>Add New
                            </span>
                        </mat-toolbar>
                        <mat-selection-list class="address-selection">
                                <p class="address-error" *ngIf="addressSubmit && order.selectedNotifyError">Please Select Notify Address</p>
                                <mat-list-option selected="{{address.selected}}" (click)="selectAddress(address, order.notifyAddress, 3)" class="orders-list" *ngFor="let address of order.notifyAddress">
                                        <p>{{address?.company_name}}</p>
                                        <p>{{address.address1}}</p>
                                        <p>{{address.address2}}</p>
                                        <p>{{address.city}}</p>
                                        <p>{{address.state}}</p>
                                        <p>{{address.country_name}}</p>
                                </mat-list-option>
                            </mat-selection-list>
                    </div>

            </mat-dialog-content>
            <mat-dialog-actions>
                <button mat-button (click)="goToPrev(stepper)" class="back-btn">Back</button>
                <span fxFlex></span>
                <button mat-button mat-dialog-close>Close</button>
                <button mat-raised-button color="primary" (click)="createOrder(stepper)">Create Order</button>
            </mat-dialog-actions>
        </mat-step>
        <mat-step>
            <mat-dialog-content>
                <div *ngIf="(clientAddressSame?.length || clientAddressSame1?.length)&& sameChkShow" class="same-chk">
                    <mat-checkbox (change)="getAddressSame($event)" [(ngModel)]="uncheck" value="selected"> Same  as Shipping Address</mat-checkbox>

                </div>
                <div class="modal-label">Create Address</div>
                <mat-list>
                    <form [formGroup]="createAddressForm">
                        <!-- <mat-form-field class="custom-input" floatLabel="never" *ngIf="(order.addressType=='client')"> -->
                        <mat-form-field class="custom-input mandatory" floatLabel="never">
                            <label class="custom-label mandatory">{{language.defaults.addressType}}</label>
                            <mat-select  placeholder={{language.defaults.addressType}} formControlName="address_type_id">
                                <mat-option *ngFor="let addre of order.address_types" [value]="addre.id">{{addre.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="custom-input mandatory" floatLabel="never">
                            <label class="custom-label mandatory">Address1</label>
                            <input matInput formControlName="address1" placeholder="Address1">
                            <mat-error *ngIf="createAddressForm.controls.address1.hasError('required') || createAddressForm.controls.address1.hasError('whitespace')" >
                                Please Enter Address1
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="custom-input" floatLabel="never">
                            <label class="custom-label">Address2</label>
                            <input matInput formControlName="address2" placeholder="Address2">
                        </mat-form-field>
                        <mat-form-field class="custom-input mandatory" floatLabel="never">
                            <label class="custom-label mandatory">Postal Code</label>
                            <input matInput formControlName="postal_code" placeholder="Postal Code">
                            <mat-error *ngIf="createAddressForm.controls.postal_code.hasError('required') || createAddressForm.controls.postal_code.hasError('whitespace')" >
                                Please Enter Postal Code
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="custom-input mandatory" floatLabel="never">
                            <label class="custom-label mandatory">Country</label>
                            <mat-select placeholder={{language.defaults.selectCountry}} (selectionChange)="onCountryChange($event)" formControlName="country">
                                <mat-option *ngFor="let country of order.countries" [value]="country.id">{{country.name}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="createAddressForm.controls.country.hasError('required')" >
                                Please Select Country
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="custom-input mandatory" floatLabel="never">
                            <label class="custom-label mandatory">State</label>
                            <mat-select placeholder={{language.defaults.selectState}} formControlName="state">
                                <mat-option *ngFor="let state of order.states" [value]="state.id">{{state.name}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="createAddressForm.controls.state.hasError('required')" >
                                Please Select State
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="custom-input mandatory" floatLabel="never">
                            <label class="custom-label mandatory">City</label>
                            <input matInput formControlName="city" placeholder="City">
                            <mat-error *ngIf="createAddressForm.controls.city.hasError('required') || createAddressForm.controls.city.hasError('whitespace')" >
                                Please Enter City
                            </mat-error>
                        </mat-form-field>
                    </form>
                </mat-list>
            </mat-dialog-content>
            <mat-dialog-actions>
                <button mat-button (click)="goToPrev(stepper)" class="back-btn">Back</button>
                <span fxFlex></span>
                <button mat-button mat-dialog-close>Close</button>
                <button mat-raised-button color="primary" (click)="createAddress(createAddressForm,stepper)">Create Address and Select</button>
            </mat-dialog-actions>
        </mat-step>
        <mat-step>
            <mat-dialog-content>
                <p class="modal-label">You have initiated an order for the below Product(s):</p>
                <div *ngFor="let product of selectedProduct">
                    <!-- <p class="gray-title">
                        <span class="modal-label">Product Name:</span>
                        <span class="product-detail">{{product.name}}</span>
                    </p>
                    <p class="gray-title">
                            <span class="modal-label">Quantity:</span>
                            <span class="product-detail">{{product.quantity}} Kg</span>
                        </p>
                    <p class="gray-title">
                        <span class="modal-label">Price per Kg:</span>
                        <span class="product-detail">{{product.price}}</span>
                    </p>
                    <p class="gray-title">
                        <span class="modal-label">Expected Date:</span>
                        <span class="product-detail">{{orderData.delivery_date | date: 'MMM dd, yyyy'}}</span>
                    </p> -->

                    <table class="shippers-table-one">
                        <!-- <tr>
                            <th>
                            sdssds</th>
                            <th>sddsdsds</th>
                        </tr> -->
                        <tr>
                            <td>Product Name:</td>
                            <td>{{product.name}}</td>

                        </tr>
                        <tr>
                            <td>Quantity:</td>
                            <td>{{product.quantity}}</td>

                        </tr>
                        <tr>
                            <td>Price per {{product.uom_name}}:</td>
                            <td>{{product.price_format}}</td>

                        </tr>
                        <tr>
                            <td>Expected Date of Delivery:</td>
                            <td>{{orderData.delivery_date | date: 'MMM dd, yyyy'}}</td>

                        </tr>
                        <tr *ngIf="productsForm.value.special_instructions.length > 0">
                                <td>Special Instructions:</td>
                                <td>{{productsForm.value.special_instructions}}</td>

                            </tr>

                    </table>



                </div>
                <p *ngIf="orderFaildedMsg != ''" class="errormsg-class" style="color: #f44336; font-size: 12px; padding-bottom: 14px;">{{orderFaildedMsg}}</p>

        </mat-dialog-content>
        <mat-dialog-actions>
                <button mat-button (click)="goToPrev(stepper)" class="back-btn">Back</button>
                <span fxFlex></span>
                <button mat-button mat-dialog-close>Close</button>
                <button mat-raised-button id="createorder" color="primary"  [disabled]="createbtnDisabled" (click)="createOrderConfirm(stepper)">Confirm Order</button>
            </mat-dialog-actions>
        </mat-step>

    </mat-horizontal-stepper>

</div>
