<mat-toolbar>
  <h2 mat-dialog-title>{{
    data?.type == "estimate"
      ? language.defaults.addClient
      : language.defaults.addOrganisation
  }}</h2>
</mat-toolbar>
<mat-dialog-content>
  <form>
    <div fxLayout="row" style="padding-top: 0">
        <app-form-builder
          [module]="'add_client'"
          (trigger)="formEmitEvent($event)"
          (emitUploadInfo)="emitUploadInfo($event)"
          [editUpload]="false"
          [PermissionKey]="'add_client'"
        ></app-form-builder>
      <!-- <div fxlayout="column">
        <app-upload-logo></app-upload-logo>
      </div> -->
    </div>
  </form>
</mat-dialog-content>
<!-- <mat-spinner class="medium-spinner" *ngIf="showSpinner"></mat-spinner> -->
<mat-dialog-actions>
  <span fxFlex></span>
  <button  class="back-btn-ui" mat-dialog-close (click)="cancelOrg()">Cancel</button>
  <button
    mat-raised-button
    (click)="addOrg(detailsForm)"
    [disabled]="disabledSave || !detailsForm || detailsForm?.invalid"
  >
    {{ language.defaults.addOrganisation }}
  </button>
</mat-dialog-actions>
