// @mixin viewHeight($height){
// 	height: calc(100vh - #{$height});
// }
// @mixin noRecords($left, $top){
//     position: absolute;left: $left;top: $top;
//     border: 1px solid #e5e5e5;background: #3676ca;
//     color: #fff;border-radius: 4px;
// }
// .user-email {
//     text-transform: initial;
// }

// .list.clients-list{
//     box-sizing: content-box;
//     background-color: #fff;
//     border-left: 1px solid #D7D7D7;
//     border-right: 1px solid #D7D7D7;
//     transition: all 0.2s ease-in-out;
// }