<div class="maintenance container">
        <div class="info">
                        <span class="material-icons">
                                        warning
                                        </span>
                <!-- <h2>You have some problems</h2> -->
                <p>Sorry, you do not have permissions to access this page.</p>
                <!-- <p>Please contact admin for further queries.</p> -->
                <!-- <a href="http://local-expodite.co.in/sso/Login" class="btn">Back to Login</a> -->
                <button  class="btn" (click)="goToDashboard()" >Back</button>
            </div>
    
    
        <!-- <button mat-raised-button color="warn" class="create-order-btn">BackTo Login</button> -->
</div>

