<div class="order-main-container">
  <mat-toolbar>
    <div class="create-order-title-wrapper">
      <h2 class="order-main-title">{{ data.title }}</h2>
    </div>
  </mat-toolbar>
  <mat-dialog-content style="padding-right: 0">
    <form style="padding: unset">
      <app-form-builder
        *ngIf="data?.tableName !== 'assign_container'"
        [module]="data.tableName"
        (trigger)="formEmitEvent($event)"
        [Contacts]="data.rowData ? data.rowData.id : ''"
        [editTypeForRestrict]="true"
        [dropDownRelatedId]="data.related_to_id ? data.related_to_id : ''"
      ></app-form-builder>
      <div style="width: 40%">
        <mat-form-field
          *ngIf="data?.tableName == 'assign_container'"
          class="custom-input block-ele mandatory w-100"
          floatLabel="never"
        >
          <label class="custom-label mandatory">Assign Container</label>
          <!-- [formControlName]="
                      existingAttributesData[j].form_control_name
                    " -->
          <!-- (selectionChange)="
                      dropDownSelectionChange(
                        $event,
                        existingAttributesData[j],
                        j,
                        existingAttributesData
                      )
                      " -->
          <!-- [errorStateMatcher]="matcher"
                      [disabled]="!existingAttributesData[j].is_editable" -->
          <mat-select placeholder="Select Constainer">
            <mat-option
              [value]="attr.value || attr.id"
              *ngFor="let attr of data.containersData"
              [innerHtml]="attr.container_id || attr.name"
            >
            </mat-option>
            <mat-option
              *ngIf="data?.containersData && data?.containersData.length === 0"
              disabled
              >No options available</mat-option
            >
          </mat-select>

          <mat-error
            *ngIf="
              submittedStoresAttributeForm &&
              storesAttributeForm?.controls?.storeCustomAttributes?.controls[
                i
              ].controls[existingAttributesData[j].form_control_name].hasError(
                'required'
              )
            "
          >
            Please Select
            <span>{{ existingAttributesData[j].label_name }}</span>
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <span fxFlex></span>
    <button *ngIf="!disabledSave" class="back-btn-ui" mat-dialog-close>
      Cancel
    </button>

    <button
      *ngIf="productsForm?.dirty"
      mat-raised-button
      [disabled]="productsForm?.invalid || disabledSave"
      (click)="editProducts()"
    >
      Save
      <span *ngIf="disabledSave">
        <mat-icon style="height: 16px; width: 16px"
          ><mat-spinner
            class="white-spinner"
            diameter="20"
          ></mat-spinner></mat-icon
      ></span>
    </button>
  </mat-dialog-actions>
</div>
