<div fxLayout="row">
  <app-roles-list class="tabs-list" [update]="updatedRoleDetails" (trigger)="getSelectedRole($event)" [isAddPerm]="adminService.rolePermissions.add_roles == 1 ? true : false"></app-roles-list>
  <app-roles-details class="inner-content" [roles]="selectedRole" style="width:100%;" (trigger)="updateDetails($event)"
   [isEditPerm]="adminService.rolePermissions.edit_roles == 1 ? true : false"
   [isAddPerm]="adminService.rolePermissions.add_roles == 1 ? true : false"
   ></app-roles-details>
</div>


