.lead-att-list{
    box-sizing: content-box;
    background-color: #fff;
    border-left: 1px solid #D7D7D7;
    border-right: 1px solid #D7D7D7;
    transition: all 0.2s ease-in-out;
    width: 300px;
}
.slect-head{
width:75%!important
}
.no-attrbt{
    margin-top:10px!important
}