.lead-att-list {
  box-sizing: content-box;
  background-color: #fff;
  border-left: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
  transition: all 0.2s ease-in-out;
  width: 300px;
}
.slect-head {
  width: 90% !important;
  font-size: 16px;
}
.no-attrbt {
  margin-top: 10px !important;
}
