.pfi-main-container {
  width: 100%;
  background-color: white;
  height: 100%;
  overflow: hidden;
}
.conformPFi {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: end;
  width: 100%;
  // background: #fff;
  box-sizing: border-box;
}
.create-pfi-title-wrapper {
  font-size: 25px;
  display: flex;
  gap: 6px;
  position: sticky;
  top: 0;
  align-items: center;
}
.pfi-main-title {
  font-family: "Helvetica Neue", sans-serif;
  color: #323232;
  font-weight: 500;
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
}
.inner-content {
  padding: 16px 0;
}
.create-quote-popup {
  min-height: 70vh;
}
