<div class="center-section-scroll vh-100 d-flex body-white">
  <div class="page-header-ui" *ngIf="!noProducts">
    <div class="flex-fixed-header page-title container-ui">
      <h2
      class="admin-heading"
      *ngIf="selectedProducts"
        title="{{
          selectedProducts.name ? selectedProducts.name : 'Add Product'
        }}"
        [innerHtml]="
          selectedProducts.name ? selectedProducts.name : 'Add Product'
        "
        
      ></h2>
      <div *ngIf="viewActivityLogIcon">
        <button
          mat-icon-button
          class="action-orderbtn"
          (click)="openActivityModal('add_products')"
        >
          <img [src]="images.activity_log_icon" title="User Activity Tracker" />
        </button>
      </div>
    </div>
  </div>
  <perfect-scrollbar class="padding-16">
    <div style="display: flex; gap: 10%">
      <div class="min-container">
        <!-- <form class="roles-form" (ngSubmit)="createProductType(detailsForm)"> -->
        <!-- <mat-spinner class="medium-spinner" *ngIf="fetchingData"></mat-spinner> -->
        <div class="box" *ngIf="!noProducts && !fetchingData">
          <app-form-builder
            [module]="'add_products'"
            (trigger)="formEmitEvent($event)"
            [Contacts]="productType"
            (emitUploadInfo)="emitUploadInfo($event)"
            [undoOnCancel]="undoOnCancel"
            [PermissionKey]="'edit_product'"
          ></app-form-builder>
          <!-- <div class="admin-products form-fields">
            <mat-card class="client-documents-card product-card" fxFlex="60">
              <mat-list class="product">
                <mat-list-item class="products-list product-divider">
                  <h4 mat-header class="product-header">Price Range</h4>
                  <h4 mat-header class="price-header">Default Price (USD)</h4>
                </mat-list-item>
                <mat-list-item
                  class="products-list"
                  *ngFor="
                    let range of selectedProducts?.priceRange;
                    let i = index
                  "
                >
                  <span mat-header class="prod-name"
                    >{{ range.range_name }} {{ selectUnits }}</span
                  >
                  <mat-form-field
                    class="custom-input prod-price"
                    floatLabel="never"
                  >
                    <input
                      matInput
                      type="number"
                      [data]="'USD'"
                      [name]="range.range_name"
                      style="margin-bottom: 13px"
                      type="text"
                      (keyup)="inputEnter($event)"
                      [ngModel]="range.range_price"
                      [ngModelOptions]="{ updateOn: 'blur' }"
                      (ngModelChange)="range.range_price = $event"
                    />
                  </mat-form-field>
                </mat-list-item>
              </mat-list>
            </mat-card>
          </div> -->
        </div>
        <div
          class="footer"
          fxLayout="row"
          fxLayoutAlign="start center"
          *ngIf="detailsForm?.dirty"
        >
          <div class="min-container d-flex justify-content-end">
            <button type="button"  class="back-btn-ui" (click)="cancel(detailsForm)">
              {{ language.defaults.cancel }}
            </button>
            <button
              type="submit"
              [disabled]="detailsForm.invalid"
              mat-raised-button
              (click)="createProductType(detailsForm)"
            >
              {{ addProducts }}
            </button>
          </div>
        </div>
        <!-- </form> -->
      </div>
    </div>
    <div *ngIf="noProducts && !fetchingData" class="no-results full">
      <div class="empty-img-holder">
        <img [src]="images.no_products" />
      </div>
      <p class="no-result-text">{{ language.defaults.noProductTypeFound }}</p>
    </div>
    <!-- <div *ngIf="totalSpinner">
      <mat-spinner class="medium-spinner"></mat-spinner>
    </div>
    <mat-spinner class="medium-spinner" *ngIf="conformsubmit"></mat-spinner> -->
  </perfect-scrollbar>
</div>
