.list-view-table{
    position: relative;
    &:before{
       background: #fff;
    }
}


.report-filters .mat-form-field.date-field {
  width: 160px;
}


.max-container-ui {
  margin: 0 auto !important ; 
  width: 100% !important;
  max-width: 80% !important;
  width: 100% !important;
}


.edit-row {
  background-color: #d3f4f5;
}
.last-updated {
  font-size: 14px;
    color: #8a8a8a;
    letter-spacing: 0;
    line-height: 23px;
    font-weight: 400;
}
.d-flex {
  display: flex;
  justify-content: center;
}
