<div fxLayout="row">
    <app-primary-package-list class="tabs-list" 
    [update]="updatedContainersDetails"
     (trigger)="getSelectedContainer($event)"
     [isAddPermission]="adminService.rolePermissions.add_packaging == 1 ? true : false"
     ></app-primary-package-list>
    <app-primary-package-details class="inner-content" [containers]="selectedContainer" style="width:100%;" 
    [isEditPermission]="adminService.rolePermissions.edit_packaging == 1 ? true : false"
    (trigger)="updateDetails($event)"></app-primary-package-details>
  </div>
  
  