<div class="center-section-scroll vh-100 d-flex body-white">
  <div class="page-header-ui" *ngIf="!noCategory">
    <div class="flex-fixed-header page-title container-ui">
      <h2
        class="admin-heading"
        title="{{
          selectedCategory.name ? selectedCategory.name : 'Add Category'
        }}"
        *ngIf="selectedCategory"
        [innerHtml]="
          selectedCategory.name ? selectedCategory.name : 'Add Category'
        "
      ></h2>
      <div *ngIf="viewActivityLogIcon">
        <button
          mat-icon-button
          class="action-orderbtn"
          (click)="openActivityModal('add_categories')"
        >
          <img [src]="images.activity_log_icon" title="User Activity Tracker" />
        </button>
      </div>
    </div>
  </div>
  <perfect-scrollbar class="perfect-scroll">
    <mat-spinner class="medium-spinner" *ngIf="isUpdating"></mat-spinner>
    <div class="roles-form"         *ngIf="!noCategory && !fetchingData"
    >
    <div class="min-container" style="position: relative;">
      <div
        class="box form-fields"
        [class.user-footer]="detailsForm.dirty"
        style="height: 100%;padding: 0 10px;"
      >
        <app-form-builder
          [module]="'add_categories'"
          (trigger)="formEmitEvent($event)"
          [Contacts]="category"
          [undoOnCancel]="undoOnCancel"
        ></app-form-builder>
      </div>

      <div
        class="document-footer"
        fxLayout="row"
        fxLayoutAlign="start center"
        *ngIf="detailsForm.dirty"
      >
        <div class="min-container d-flex justify-content-end">
          <button type="button"  class="back-btn-ui" (click)="cancel(detailsForm)">
            {{ language.defaults.cancel }}
          </button>
          <button
            type="submit"
            mat-raised-button
            (click)="createCategory(detailsForm)"
            [disabled]="detailsForm?.invalid || isUpdating"
          >
            {{ addCategory }}
          </button>
        </div>
      </div>
    </div>
  </div>
    <div *ngIf="noCategory" class="no-results full">
      <div class="empty-img-holder">
        <img [src]="images.no_category" />
      </div>
      <p class="no-result-text">No Categories Found</p>
    </div>
  </perfect-scrollbar>
</div>
