.mail {
  text-align: center;
  button {
    position: absolute;
    top: 40%;
  }
  span {
    position: absolute;
    top: 50%;
    left: 56%;
    font-weight: 400;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 17px;
  }
}
