<mat-toolbar>
  <h2 mat-dialog-title>
    {{
      data.contactdata.id
        ? data.form_module_name == "account_manager"
          ? "Update Manager"
          : "Update Contact"
        : data.form_module_name == "account_manager"
        ? "Add Manager"
        : "Add Contact"
    }}
  </h2>

  <p
    *ngIf="errorMsg"
    class="errormsg-class"
    style="color: #f44336; font-size: 12px; margin-left: 22px"
  >
    {{ errorMsg }}
  </p>
  <span fxFlex></span>
</mat-toolbar>
<mat-dialog-content>
  <form>
    <app-form-builder
      [module]="data.form_module_name ? data.form_module_name : 'add_contact'"
      [related_to_id]="selectedOrg"
      (trigger)="formEmitEvent($event)"
      (emitUploadInfo)="emitUploadInfo($event)"
      [Contacts]="data.contactdata.id ? data.contactdata.id : ''"
      [editTypeForRestrict]="data.editTypeForRestrict"
    ></app-form-builder>
  </form>
</mat-dialog-content>
<mat-spinner class="medium-spinner" *ngIf="showSpinner"></mat-spinner>

<mat-dialog-actions>
  <span fxFlex></span>
  <button class="back-btn-ui" mat-dialog-close>
    {{ language.defaults.cancel }}
  </button>
  <button
    mat-raised-button
    (click)="addContact(contactsForm)"
    [disabled]="disabledSave || !contactsForm?.valid || !contactsForm?.dirty"
  >
    {{
      data.contactdata.id
        ? data.form_module_name == "account_manager"
          ? "Update Manager"
          : "Update Contact"
        : data.form_module_name == "account_manager"
        ? "Add Manager"
        : "Add Contact"
    }}
  </button>
</mat-dialog-actions>
