<mat-toolbar color="primary">
  <h2 mat-dialog-title>Change Shipper Address</h2>
  <span fxFlex></span>
</mat-toolbar>
<mat-dialog-content>
  <mat-selection-list class="address-selection" *ngFor="let list of contactAddressList">

    <mat-list-option  disableRipple="true" class="orders-list" [disabled]="list.id == selectedCategory.id" [selected]="list.selected" (click)="selectAddress(list.id, list)">
      <p>{{list.address1}}</p>
      <p>{{list.address2}}</p>
      <p>{{list.city}}</p>
      <p>{{list.state}}</p>
      <p>{{list.country_name}}</p>
      <p>{{list.postal_code}}</p>

    </mat-list-option>
  </mat-selection-list>
</mat-dialog-content>
<mat-dialog-actions>
  <span fxFlex></span>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button (click)="changeShipperAdd()" [disabled] = "disabledSave">Change</button>
  <!--<button *ngIf="!success" mat-raised-button mat-dialog-close color="warn" (click)="confirm()"></button>-->
</mat-dialog-actions>
