.address-selection{
    padding: 15px 0px;
    .mat-list-option{
        height: auto;   
        margin: 0;
        padding: 15px 0px;
        }
    .mat-list-item-content{
        flex-direction: row !important;
        align-items: left !important;
    }

    .mat-list-text{
    font-size: 14px;
    color: #565656;
    letter-spacing: -0.18px;
    line-height: 25px;
    p{
        &:first-child{
            font-weight: 500;
        }
    }
    }
}