<mat-toolbar>
  <h2 mat-dialog-title>
    {{ data.fieldsData.title ? data.fieldsData.title : "Add Batch" }}
  </h2>
</mat-toolbar>
<mat-dialog-content>
  <form [formGroup]="InventoryForm" class="multy-forms">
    <app-form-builder
      [module]="'add_inventory'"
      (trigger)="formEmitEvent($event)"
    ></app-form-builder>
  </form>
  <div>
  <mat-spinner class="medium-spinner" *ngIf="showSpinner"></mat-spinner>
</div>
</mat-dialog-content>

<mat-dialog-actions>
  <span fxFlex></span>
  <button class="back-btn-ui" mat-dialog-close>Cancel</button>
  <button
    mat-raised-button
    (click)="addInventory(InventoryForm)"
    [disabled]="disableBtn || InventoryForm.invalid"
  >
    {{ data.fieldsData.title ? data.fieldsData.title : "Add Batch" }}
  </button>
</mat-dialog-actions>
