<div class="preview-container">
  <mat-toolbar class="save_section">
    <h4>Save View</h4>
    <span class="material-icons" title="Close" (click)="close()">
      <mat-icon>close</mat-icon>
    </span>
  </mat-toolbar>
  <mat-dialog-content style="height: 200px">
    <div *ngIf="inProcess">
      <mat-spinner class="medium-spinner"></mat-spinner>
    </div>
    <div>
      <form [formGroup]="saveViewForm">
        <div>
          <mat-form-field
            class="custom-input mandatory w-100"
            floatLabel="never"
          >
            <label class="custom-label" [class.mandatory]="true"
              >View Name</label
            >
            <input
              matInput
              #myInput
              placeholder="Enter View Name"
              formControlName="name"
              id="containerName"
              maxlength="255"
            />
            <mat-error
              *ngIf="
                submitForm ||
                (!saveViewForm.controls.name.pristine &&
                  saveViewForm.controls.name.hasError('required'))
              "
              >Name is Required</mat-error
            >
          </mat-form-field>
        </div>
        <div>
          <mat-radio-group class="share_section" formControlName="share">
            <mat-radio-button
              class="radio-sec"
              color="primary"
              value="0"
              (change)="radioChange($event)"
              >Share with All Users</mat-radio-button
            >
            <mat-radio-button
              class="radio-sec"
              color="primary"
              value="1"
              (change)="radioChange($event)"
              >Share with Selected Users</mat-radio-button
            >
          </mat-radio-group>
        </div>
        <div
          *ngIf="saveViewForm.controls.share.value == '1'"
          class="multi_select_list"
        >
          <!-- <label class="custom-label font-600">User 
                            <span style="color: red">*</span>
                        </label>

                    <ng-select class="multi-ng-select" [items]="usersList" style="top: 8px;"
                                bindLabel="username"
                                bindValue="user_id"
                                [multiple]="true"
                                placeholder="Select User"
                                formControlName="shared_users">
                    </ng-select> -->

          <mat-form-field
            class="custom-input custom-client mandatory"
            floatLabel="never"
            style="width: 100%; margin-top: 20px"
          >
            <label class="custom-label font-600" [class.mandatory]="true"
              >User</label
            >
            <mat-select
              panelClass="myPanelClass"
              class="chips-select"
              [placeholder]="
                saveViewForm && saveViewForm.value?.shared_users.length
                  ? ''
                  : 'Select User'
              "
              formControlName="shared_users"
              multiple
            >
              <mat-select-trigger>
                <mat-chip-list
                  *ngIf="
                    saveViewForm && saveViewForm.value?.shared_users.length
                  "
                >
                  <mat-chip
                    *ngFor="let prodId of saveViewForm.value.shared_users"
                    [removable]="true"
                    (removed)="
                      removeClient(prodId, saveViewForm.value.shared_users)
                    "
                  >
                    {{ getClientName(prodId, usersList) }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                </mat-chip-list>
              </mat-select-trigger>
              <mat-option
                [value]="status.user_id"
                class="orders-list"
                *ngFor="let status of usersList"
              >
                {{ status.username }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <p *ngIf="!submitForm && showMsg" class="address-error">
          No Users Found. Please add Users
        </p>

        <!-- <div>
                    <span *ngIf="errMessage != ''">{{errMessage}}</span>
                </div>
                <div class="filter-actions save-view-actions">
                    <button class="mat-primary" mat-button   (click)="close()">Cancel</button>
                    <button mat-raised-button class="mat-button mat-primary-btn" [disabled]="saveViewForm.invalid" (click)="saveForm()">Save View</button>
                </div> -->
      </form>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div>
      <span *ngIf="errMessage != ''">{{ errMessage }}</span>
    </div>
    <div class="filter-actions save-view-actions" style="margin: 10px">
      <button class="back-btn-ui" (click)="close()">Cancel</button>
      <button
        mat-raised-button
        class="mat-button mat-primary-btn"
        [disabled]="saveViewForm.invalid"
        (click)="saveForm()"
      >
        Save View
      </button>
    </div>
  </mat-dialog-actions>
</div>
<!-- <div>Save view</div> -->
