<div appTimer class="app dashboard nav-font-family " fxLayout="column">
    <mat-sidenav-container fxFlex>
        <mat-sidenav class="app-menu primary-color" #sidenav>
                <div class="active-module instance_name" *ngIf="adminService.appFnvironment == 'Local' ||
                adminService.appFnvironment == 'Stage' ">
                    <p >{{adminService.appFnvironment}}</p>
				<!-- <p *ngIf="adminService.appFnvironment == 'Stage'">{{adminService.appFnvironment}}</p>  -->
        
                        <!-- <button mat-raised-button color="warn"  (click)="createPurchaseOrder()" class="create-order-btn">Create Purchase Order</button>
                        <button mat-raised-button color="warn" *ngIf="createOrderPermission" (click)="createOrder()" class="create-order-btn">Create Order</button> -->
                    </div>
            <div class="app-logo">
                <div class="logo"  [routerLink]="['/overview']" routerLinkActive="active" [ngStyle]="{'background-image': 'url(' + brandLogo + ')'}"></div>
            </div>
           
            <perfect-scrollbar  class="app-navigation" >
                <mat-nav-list *ngFor="let item of ENVDATA">
                    <mat-list-item *ngIf="item.display == 'yes'"  routerLink="/{{item.routerlink}}" routerLinkActive="active">
                        <div class="app-list-item-content">
                            <div class="app-list-item">
                                <img [src]="[item.icon]" title="{{item.name}}">
                                <span class="app-list-line nav-font-family">{{item.name}}</span>
                            </div>
                        </div>                       
                    </mat-list-item>
                   
                    <!-- <mat-list-item *ngIf="leftNav.orders && ENVDATA?.ORDER_MANAGEMENT == 'yes'" (click)="ordersPage()" [routerLink]="['/orders']" routerLinkActive="active">
                        <div class="app-list-item-content">
                            <div class="app-list-item">
                                <img [src]="ordersIcon" title="Orders">
                                <span class="app-list-line">Orders</span>
                            </div>
                        </div>
                    </mat-list-item>
                    
                    <mat-list-item *ngIf="leftNav.invoices  && ENVDATA?.INVOICES == 'yes'" (click)="invoicePage()"[routerLink]="['/invoices']" routerLinkActive="active">
                        <div class="app-list-item-content">
                            <div class="app-list-item">
                                <img [src]="invoicesIcon" title="Invoices">
                                <span class="app-list-line">Invoices</span>
                            </div>
                        </div>
                    </mat-list-item>
                    <mat-list-item *ngIf="leftNav.inventory  && ENVDATA?.INVENTORY_MANAGEMENT == 'yes'"  (click)="inventoryPage()"[routerLink]="['/inventory']" routerLinkActive="active">
                        <div class="app-list-item-content">
                            <div class="app-list-item">
                                <img [src]="inventoryIcon" title="Inventory">
                                <span class="app-list-line">Inventory</span>
                            </div>
                        </div>
                    </mat-list-item>
                    
                    <mat-list-item *ngIf="leftNav.clients" [routerLink]="['/clients']" routerLinkActive="active">
                        <div class="app-list-item-content">
                            <div class="app-list-item">
                                <img [src]="clientsIcon" title="Clients">
                                <span class="app-list-line" *ngIf="!myProfile">Clients</span>
                                <span class="app-list-line" *ngIf="myProfile">Profile</span>
                                
                            </div>
                        </div>
                    </mat-list-item>
                    
                    <mat-divider></mat-divider>
                    <mat-list-item *ngIf="leftNav.vendors  && ENVDATA?.VENDOR_MANAGEMENT == 'yes'" [routerLink]="['/vendors']" routerLinkActive="active">
                        <div class="app-list-item-content">
                            <div class="app-list-item">
                                <img [src]="vendorsIcon" title="Vendors">
                                <span class="app-list-line" >Vendors</span>
                               
                                
                            </div>
                        </div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item *ngIf="leftNav.users  && ENVDATA?.USERS == 'yes'" [routerLink]="['/users']" routerLinkActive="active">
                        <div class="app-list-item-content">
                            <div class="app-list-item">
                                <img [src]="usersIcon" title="Users">
                                <span class="app-list-line">Users</span>
                            </div>
                        </div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item *ngIf="leftNav.admin  && ENVDATA?.ADMIN == 'yes'" [routerLink]="['/admin']" routerLinkActive="active">
                        <div class="app-list-item-content">
                            <div class="app-list-item">
                                <img [src]="adminIcon" title="Admin">
                                <span class="app-list-line">Admin</span>
                            </div>
                        </div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item *ngIf="leftNav.reports  && ENVDATA?.REPORTS == 'yes'" [routerLink]="['/reports']" routerLinkActive="active">
                        <div class="app-list-item-content">
                            <div class="app-list-item">
                                <img [src]="reportsIcon" title="Reports">
                                <span class="app-list-line">Reports</span>
                            </div>
                        </div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item *ngIf="leftNav.order  && ENVDATA?.ORDER_MANAGEMENT == 'yes'" (click)="createOrder()">
                        <div class="app-list-item-content">
                            <div class="app-list-item">
                                <img [src]="plusIcon" title="Order">
                                <p class="app-list-line order-line"><b>Create Order</b></p>
                            </div>
                        </div>
                    </mat-list-item> -->
                     <!-- <mat-divider></mat-divider> -->

                </mat-nav-list>               
            </perfect-scrollbar>
            <div class="app-user-container">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <img class="mat-avatar" [src]="userDetails.profile_image_url?userDetails.profile_image_url:placeholderIcon"
                    alt="user">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </button>
                <mat-menu #menu="matMenu" [overlapTrigger]="false" xPosition="after" class="login-user-details-ui">
                    <div class="d-flex login-user-details">
                        <div class="media mr-2">
                            <img class="img" [src]="userDetails.profile_image_url?userDetails.profile_image_url:placeholderIcon"
                            alt="user">
                        </div>
                        <div class="media-body">
                            <h5 class="mb-1">{{firstName}} {{lastName}}</h5>
                            <small>{{adminService.loggedUserEmail}}</small>
                        </div>
                    </div>
                    <button mat-menu-item [routerLink]="['/change-password']">Manage Account</button>
                    <button mat-menu-item (click)="logout()">{{language.defaults.logout}}</button>
                </mat-menu>
            </div>
        </mat-sidenav>
        <!-- <div fxLayout="row" fxLayoutAlign="space-between">
        </div> -->
        <mat-sidenav-content class="app-sidenav-content" [class.toggle-menu-hide]="showSubMenu && showToggleMenu" 
        [class.toggle-menu-show]="showSubMenu && !showToggleMenu">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
   
</div>

<div class="responsive-submenu" *ngIf="showSubMenu && isAdminScreen">
    <span class="material-icons" *ngIf="showToggleMenu" (click)="showToggleMenu = !showToggleMenu">menu</span>
    <span class="material-icons" *ngIf="!showToggleMenu" (click)="showToggleMenu = !showToggleMenu">menu_open </span>
  </div>