<div class="order-main-container">
  <mat-toolbar>
    <div class="create-order-title-wrapper">
      <h2 class="order-main-title">
        {{
          data.type === "po"
            ? data.productData.name
            : data.productData.product_name
        }}
      </h2>
    </div>
  </mat-toolbar>
  <mat-dialog-content>
    <!-- <div class="table-container">
      <div>
        <div class="product-name">
          <a
            style="cursor: pointer"
            class="click"
            title="Preview"
            (click)="
              openPreview(
                data.productData.product_image && data.productData.product_image != ''
                  ? data.productData.product_image
                  : images.no_product,
                1,
                'product_image'
              )
            "
          >
            <img
              class="logo-img"
              style="width: 60px; height: 60px"
              [src]="
                data.productData.product_image &&
                data.productData.product_image != ''
                  ? data.productData.product_image
                  : images.no_product
              "
            /> </a
          >{{ data.productData.product_name }}
        </div>
      </div>
    </div> -->
    <div class="field-custom">
      <mat-form-field class="custom-input w-100" floatLabel="never">
        <!-- <label class="custom-label">Description</label> -->
        <textarea
          matInput
          placeholder="Enter Description"
          (change)="changeDescription($event)"
          [(ngModel)]="updatedDescription"
          (keyup)="changeDescription($event)"
          maxlength="1024"
        ></textarea>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="cofirmOrderActionsBlock">
      <button  class="back-btn-ui" mat-dialog-close>Close</button>
      <button
        mat-raised-button
        id="createorder"
        color="primary"
        (click)="Editdescription()"
        [disabled]="disableSave"
      >
        Save
      </button>
    </div>
  </mat-dialog-actions>
</div>
