.product-hedr{
height:none!important
}
.list-flex{
    display:flex
}
.mar-left{
    margin-left:-12px!important
}
.list-overflow{
    overflow-y: hidden!important;
}
.chk-abs{
    position: absolute;
}
.marh-lft{
    margin-left:30px!important;
}
.no-prodts{
    margin-top: 32px;
    width: 200px;
}
.quote-list{
    height: calc(100vh - 202px) !important;
}
.empty-prod{
    margin: 175px 16px !important;
}