<div class="order-main-container">
  <mat-toolbar>
    <div class="create-order-title-wrapper">
      <h2 class="order-main-title">{{ data.title }}</h2>
    </div>
  </mat-toolbar>
  <mat-dialog-content style="display: flex; align-items: center">
    <div>
      <p>
        Are you sure you want to delete this
        {{
          data.tableName == "payments"
            ? "Payment"
            : data.tableName == "open_package"
            ? "Package"
            : "Container"
        }}
        ?
      </p>
      <div *ngIf="statusChangemsg" style="display: flex; padding-top: 10px">
        <span>
          <mat-icon
            style="font-size: 16px; color: #f47463"
            title="This is the unallocated payment amount that can be applied to invoices."
            >info</mat-icon
          ></span
        ><span>{{ statusmsg }}</span>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <span fxFlex></span>
    <button class="back-btn-ui" mat-dialog-close>Cancel</button>
    <button mat-raised-button (click)="deleteContainer()">Yes</button>
  </mat-dialog-actions>
</div>
