<div class="center-section-scroll vh-100 d-flex body-white">
	<div class="page-header-ui" *ngIf="!noUser">
		<div class="flex-fixed-header page-title   ">
			<span *ngIf="selectedUser" class="d-flex align-items-center">
				<h2 class="admin-heading" title="{{selectedUser.name? selectedUser.name : 'Add New User'}}">{{selectedUser.name? selectedUser.name : 'Add New User'}}</h2>&nbsp;&nbsp;
				<!-- <span class="user-detail-email" title="{{selectedUser.email}}">{{selectedUser.email || ""}}</span> -->
			</span>
			<span fxFlex></span>
		<button mat-button color="warn" *ngIf="selectedUser?.email && selectedUser?.status && isEditPerm" (click)="openDialog('reset')">{{language.defaults.resetPassword}}</button>
		</div>

	</div>
	<perfect-scrollbar class="d-flex perfect-scroll">
		<!-- <div class="page-sub-heading" *ngIf="!noUser" ><h3>{{language.defaults.userProfile}}</h3></div> -->
		<div class="min-container" style="height: 100%;">
			<mat-spinner *ngIf="fetchingData" class="medium-spinner"></mat-spinner>
			<div *ngIf="!noUser" style="height: 100%;">
				<form class="user-form roles-form " [formGroup]="userForm" (ngSubmit)="submitUser(userForm)">
					<div class="details" [class.user-footer]="userForm.dirty" *ngIf="!fetchingData" style="height: 100%;overflow: auto;">
						<div fxLayout="column" >
						
                            
								<div class="user_data" style="overflow: auto;">
									<div class="ex-row" style="padding: 0;">
										<div class="grid-nine" style="padding: 0;">
											<div class="ex-row">

												<mat-form-field class="custom-input mandatory grid-six" floatLabel="never">
													<label class="custom-label mandatory">{{language.defaults.firstName}}</label>
													<input matInput #myInput placeholder="First Name"   maxlength=100 formControlName="firstname">
													<mat-error *ngIf="userSubmit || userForm.controls.firstname.hasError('whitespace') || !userForm.controls.firstname.pristine && userForm.controls.firstname.hasError('required') ">{{language.validations.firstName}}</mat-error>
												</mat-form-field>
	
												<mat-form-field class="custom-input mandatory grid-six" floatLabel="never">
													<label class="custom-label mandatory">{{language.defaults.lastName}}</label>
													<input matInput placeholder="Last Name" maxlength=100 formControlName="lastname">
													<mat-error *ngIf="userSubmit || !userForm.controls.lastname.pristine && userForm.controls.lastname.hasError('required')">{{language.validations.lastName}}</mat-error>
												</mat-form-field>
												
												<mat-form-field  class="custom-input mandatory grid-six" floatLabel="never">
													<label class="custom-label mandatory">{{language.defaults.status}}</label>
													<mat-select placeholder="Status" formControlName="status" [(ngModel)]="selectedtype">
														<mat-option [value]="stat.param" *ngFor="let stat of status" [innerHtml]="stat.value"></mat-option>
													</mat-select>
													<mat-error *ngIf="userSubmit || !userForm.controls.status.pristine && userForm.controls.status.hasError('required')">{{language.validations.status}}</mat-error>
												</mat-form-field>
												<mat-form-field class="custom-input mandatory grid-six" floatLabel="never">
													<label class="custom-label mandatory">{{language.defaults.selectRole}}</label>
													<mat-select placeholder="User Role" formControlName="roles_id">
														<mat-option [value]="role.id" *ngFor="let role of rolesList" [innerHtml]="role.name"></mat-option>
													</mat-select>
												<mat-error *ngIf="userSubmit || !userForm.controls.roles_id.pristine && userForm.controls.roles_id.hasError('required')">Please Select User Role</mat-error>
												</mat-form-field>
												<mat-form-field class="custom-input mandatory grid-six" floatLabel="never" >
													<label class="custom-label mandatory">{{language.defaults.emailAddress}}</label>
													<input matInput type="email" maxlength=100 placeholder="Email Address" formControlName="email" 
													[ngClass]="{'disableClass': disableEmailField}"
													[readonly]="disableEmailField"
													>
													<mat-error *ngIf="userForm.controls.email.hasError('pattern')">{{language.validations.emailValidation}}</mat-error>
													<mat-error *ngIf="userSubmit  && userForm.controls.email.hasError('required')">{{language.validations.email}}</mat-error>
												</mat-form-field>
											</div>
										</div>
										<div class="grid-three" fxLayoutAlign="end  start " >
											<div fxLayout="column" class="image-upload org-upload" [class.not-allowed]="disableUpload">
												<div ng2FileDrop [ngClass]="{'file-over': hasDropZoneOver}" (fileOver)="fileOverBase($event)" (onFileDrop)="fileDrop($event)"
													[uploader]="uploader" class="file-drop-zone">
														<input id="edit-org-logo" type="file" ng2FileSelect [uploader]="uploader" (change)="fileSelected($event)" [hidden]="true"
														 [disabled]="disableUpload"	multiple/>
														<label for="edit-org-logo" class="browse-file" *ngIf="!uploads.length">
															<a>{{language.defaults.browseFile}}</a>
														</label>
														<label for="edit-org-logo" class="image-edit-delete" *ngIf="uploads.length">
															<a class="upload-open">{{language.defaults.changeFile}}</a>
														</label>
												</div>
											<div class="change-user-file">
												<span *ngIf="uploadError" class="error-msg error-strip">*You have selected an invalid file type. Only jpg, jpeg, png files are allowed.</span>
											</div>
											<div class="change-user-file">
												<span *ngIf="sizeError" class="error-msg error-strip">*File more than 5MB is not allowed.</span>
											</div>
											<div class="images">
												<ul *ngIf="uploads.length">
													<li *ngFor="let file of uploads; let i = index">
														<img [src]="file.source_path" alt="file.filename">
														<div class="overlay"></div>
														<mat-icon class="delete" (click)="deleteItem(i)">delete</mat-icon>
													</li>
												</ul>
											</div>
											</div>
										</div>


									</div>
							
								</div>
								
						</div>
					</div>
					<div class="document-footer" fxLayout="row" fxLayoutAlign="start  center" *ngIf="userForm.dirty">
							<div class="min-container d-flex justify-content-end  ">
								<button type="button"  class="back-btn-ui" (click)="cancel(userForm)">{{language.defaults.cancel}}</button>
								<button type="submit" mat-raised-button >{{saveUser}}</button>
							</div>
					
					
						</div>
				</form>
			</div>
			<div *ngIf="noUser" class="no-results full "> 
				<div class="empty-img-holder">
					<img [src]='images.no_users'>
				</div>
					<p class="no-result-text">{{language.defaults.noUserFound}}</p>
				
			</div>
		</div>
	</perfect-scrollbar>
	

  	


</div>
