<div
  class="center-section-scroll vh-100 d-flex media-list-data body-white w-100"
>
  <div class="flex-fixed-header menu-title" *ngIf="!noShipments">
    <h2
      class="admin-heading"
      *ngIf="selectedShipment"
      title="{{
        selectedShipment.name ? selectedShipment.name : 'Add Carrier'
      }}"
      [innerHtml]="
        selectedShipment.name ? selectedShipment.name : 'Add Carrier'
      "
    ></h2>
    <div *ngIf="viewActivityLogIcon">
      <button
        mat-icon-button
        class="action-orderbtn"
        (click)="openActivityModal('add_carriers')"
      >
        <img [src]="images.activity_log_icon" title="User Activity Tracker" />
      </button>
    </div>
  </div>
  <perfect-scrollbar class="padding-16 perfect-scroll">
    <!-- <mat-spinner class="medium-spinner" *ngIf="fetchingData"></mat-spinner> -->
    <div class="min-container" *ngIf="!noShipments && !fetchingData" style="height: calc(100% - 60px);overflow: auto;">
      <app-form-builder
        [module]="'add_carriers'"
        (trigger)="formEmitEvent($event)"
        [Contacts]="shipments"
        [undoOnCancel]="undoOnCancel"
      ></app-form-builder>
    </div>

    <div *ngIf="noShipments" class="no-results full">
      <div class="empty-img-holder">
        <img [src]="images.no_shipments" />
      </div>
      <p class="no-result-text">{{ language.defaults.noShipments }}</p>
    </div>
    <div
      class="footer"
      fxLayout="row"
      fxLayoutAlign="start center"
      *ngIf="detailsForm?.dirty"
    >
      <div class="min-container d-flex justify-content-end">
        <button type="button"  class="back-btn-ui" (click)="cancel(detailsForm)">
          {{ language.defaults.cancel }}
        </button>
        <button
          type="submit"
          mat-raised-button
          [disabled]="detailsForm?.invalid"
          (click)="createShipment(detailsForm)"
        >
          {{ newShipAdd }}
        </button>
      </div>
    </div>
  </perfect-scrollbar>
</div>
