.products-table {
  width: 100%;
  .header-list {
    text-align: left;
    width: calc(25% - 0px);
    display: inline-block;
    padding-left: 10px;
  }
}
.product-table-header {
  background: #e4e5e9;
  text-align: right;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 8px;
}
.fields-list {
  display: flex;
  // gap: 16px;
  flex-wrap: wrap;
  justify-content: flex-start;
  .w-50 {
    width: calc(50% - 8px);
  }
  .w-100 {
    width: calc(100% - 8px);
    &.mb-8 {
      margin-bottom: 8px;
    }
  }
}

.display-none {
  display: none;
}
.textarea-styles {
  min-height: 65px;
}
.rich-text {
  .custom-label {
    font-size: 14px;
    color: #565656;
  }
  .quill-container {
    padding-top: 10px;
  }
}
.wid-20 {
  width: 25%;
}
.wid-40 {
  width: 40%;
}
.row-container {
  display: flex;
  gap: 8px;
  width: 90%;
  padding-left: 10px;
}
.delete-row {
  padding: 10px;
  margin-top: 16px;
}
.import_line_items {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  &:hover {
    text-decoration: underline;
  }
}

.custom-input.mandatory.client {
  width: 100%;
}

.sample-info {
  padding-left: 25px;
}

.img-icon {
  width: 32px;
}

.error-msg {
  color: red;
  padding-top: 6px;
}
.product-title {
  height: 40px;
  // display: flex;
  border-bottom: 1px solid #dfe3e9;
  // flex-direction: column;
  // justify-content: space-between;
  & > div {
    display: flex;
    gap: 12px;
  }
}

.products-custom-mat-option {
  padding: 0px 10px !important;
  line-height: 20px !important;
}

.products-table {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  text-align: left;
  // padding: 16px;
  font-size: 16px;
  font-weight: 500;
  // border: 1px solid #E4E5E9;
}

.custom-input.mandatory.products {
  // width: 100%;
}

.product-table-header {
  background: #e4e5e9;
  text-align: right;
  height: 36px;
}

.product-data-cell {
  // width: 100%;
  // max-width: 45%;
}

.add-new-item {
  display: flex;
  padding: 17px;
  gap: 8px;
  position: sticky;
  bottom: 0;
  background: white;
  border-top: 1px solid #eee;
  align-items: center;
  cursor: pointer;
}

.add-new-line {
  display: flex;
  padding: 15px;
  gap: 8px;
  background: #e4e5e9;
  cursor: pointer;
  align-items: center;
  border-radius: 5px;
}

th {
  padding: 24px;
  border: 1px solid #e4e5e9;
}

.order-totals-wrapper {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  margin-top: 32px;
  justify-content: space-between;
}

.order-left-nav {
  flex-direction: column;
  gap: 24px;
  padding-right: 32px;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.sub-total-wrapper {
  flex: 0 0 50%;
  padding: 20px;
  box-sizing: border-box;
  background: #eee;
  margin: 14px 0;
  border-radius: 6px;
  &.wid-50 {
    width: 420px;
    float: right;
  }
}

.order-discount {
  align-items: center;
  gap: 20px;
  > div {
    display: flex;
    gap: 14px;
    align-items: center;
    flex: 1;
  }
}
.order-discount.precentage .mat-form-field-infix {
  position: relative;
}
span.percentaged {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-4px);
}

.order-discount.precentage .mat-form-field-infix {
  position: relative;
}
.customer_notes {
  width: 100%;
}

.terms_conditions {
  min-height: 65px;
}

.terms-container {
  width: 100%;
}

.image-upload.po {
  padding: 15px;
}

.custom-file-input-label {
  font-size: 14px;
  color: #565656;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  content: "Upload File";
  display: inline-block;
  border: 2px dashed #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  font-size: 16px;
  line-height: 25px;
  width: 100%;
  color: #848484;
  margin-top: 8px;
}

.custom-file-input:hover::before {
  border-color: orange;
}

.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.divTable {
  display: table;
  width: 100%;
}

.divTableRow {
  display: table-row;
}

.divTableHeading {
  background-color: #eee;
  display: table-header-group;
}

.divTableCell,
.divTableHead {
  display: table-cell;
  padding: 10px;

  &:first-child {
    // border-left: 1px solid #eee;
  }

  .mat-form-field-infix {
    width: unset;
  }
}

.divTableCell {
  &:first-child {
    // border-left: 1px solid #eee;
  }
}

.divTableHeading {
  background-color: #eee;
  display: table-header-group;
  font-weight: bold;
}

.divTableFoot {
  background-color: #eee;
  display: table-footer-group;
  font-weight: bold;
}

.divTableBody {
  display: table-row-group;
}

.mat-toolbar-strip {
  background: #ededed;
  border-bottom: 0;
  min-height: 28px;
  padding: 16px;
  margin-bottom: 8px;

  h3 {
    font-size: 16px;
    font-weight: 500;
    color: #919191;
    letter-spacing: -0.12px;
    position: relative;

    &.product-name {
      width: 135px;
    }
  }
}

.input-right {
  text-align: right !important;
}

.medium-spinner.page-fixed {
  position: fixed;
}

.custom-labeldate.delivery {
  position: absolute;
  top: -18px;
  left: 0px;
  font-size: 14px;
  color: #565656;

  &:after {
    content: unset !important;
  }
}

.custom-labeldate.ddate {
  &:after {
    content: unset !important;
  }
}

.customer-notes_text-area {
  min-height: 65px;
}

.mat-form-field.custom-input {
}
.product-names {
  // font-weight: 500;
}
.product-rate {
  font-weight: 300;
}
.products {
  margin-top: 0px !important;
}
.product-name-overlap {
  word-wrap: break-word;
  // white-space: pre-line;
  width: 150px;
  text-overflow: ellipsis;

  overflow: hidden;
  text-overflow: ellipsis;
  // display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  flex: 1;
}
.discount-label {
  // flex: 1;
  min-width: 94px;
}
.order-discount .custom-input .mat-form-field-wrapper {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
.product-units {
  text-transform: lowercase;
  font-size: 14px;
}
.mt-10 {
  margin-top: 10px;
}
span.percentaged {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-4px);
}
.order-discount.precentage .mat-form-field-infix {
  position: relative;
}
.error-discount {
  position: absolute;
  margin-top: 4px;
  font-size: 11px;
  text-transform: capitalize;
  color: #f44336;
}
.order-discount > p {
  min-width: 70px;
  /* max-width: 50px; */
  text-align: right;
  width: 100%;
}
.sub-total-freight {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.sub-total-fields-list {
  .mat-form-field.custom-input {
    margin-top: 8px !important;
  }
}
.pointer-none {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.6;
}
