<div class="center-section-scroll vh-100 d-flex media-list-data holy-grail body-white ">

  <div class="flex-fixed-header menu-title  ">
    <h2 style="font-weight: 400;">Categories ({{totalCount}})</h2>
    <span class="add-link" (click)="getCategory()">
      <mat-icon>add</mat-icon>Add
    </span>

  </div>
  <div class="app-search-container search-small ">
    <mat-form-field class="search" floatLabel="never">
      <input matInput placeholder={{language.defaults.search}} #search (keyup)="searchCategory(search.value, $event)"
        (blur)="!search.value.length ? open = false : open = true">
      <mat-icon matPrefix class="org-search">search</mat-icon>
      <mat-icon matSuffix *ngIf="searching" class="spinner">
        <mat-spinner class="small-spinner"></mat-spinner>
      </mat-icon>
      <mat-icon matSuffix *ngIf="!searching && search.value.length"
        (click)="search.value = '';searchCategory(search.value)">close</mat-icon>
    </mat-form-field>
  </div>
  <perfect-scrollbar class="p-l-8 p-r-8 ">
    <div class="list-items" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()" [scrollWindow]="false">
      <mat-spinner class="medium-spinner" *ngIf="fetchingData"></mat-spinner>
      <mat-list *ngIf="!fetchingData" class="media-list">
        <mat-list-item @AdminListAnimate *ngFor="let list of categoryType" (click)="getCategory(list)"
          [class.active]="list.id === selectedCategory.id">

          <div class="media d-flex align-items-center">
            <div class="media-body" style="padding-left: 2px;">
              <h1 class="font-weight-bold d-block text-nowrap single " title="{{list.name}}">{{list.name}}</h1>
            </div>
          </div>

        </mat-list-item>
        <mat-list-item *ngIf="paginationScroll">{{language.defaults.loading}}</mat-list-item>

      </mat-list>
      <div class="search-empty admin-search" *ngIf="noCategory && !fetchingData">No Categories Found</div>
    </div>
  </perfect-scrollbar>
  <app-pagination *ngIf="totalCount!=0" [pageLimit]="totalCount" (pageloadMore)="loadMore($event)"></app-pagination>
</div>