<mat-toolbar color="primary">
  <h2 mat-dialog-title>Add Line Item</h2>
  <span fxFlex></span>
</mat-toolbar>
<mat-dialog-content>
  <form  class="addLineForm" style="padding: 0;">
    <!-- <mat-form-field class="custom-input mandatory" floatLabel="never">
      <label class="custom-label">Line Item</label>
      <input matInput placeholder="Line Item" formControlName="lineItem" />
      <mat-error *ngIf="lineItemForm.controls.lineItem.hasError('required')"
        >Please Enter Line Item</mat-error
      >
    </mat-form-field>
    <mat-form-field class="custom-input mandatory" floatLabel="never">
      <label class="custom-label">Value</label>
      <input
        type="number"
        matInput
        placeholder="Value"
        formControlName="lineItemValue"
        oninput="javascript: if (!/^(-?\d+(\.\d{0,3})?)?$/.test(this.value)) this.value = this.value.slice(0, -1);"
      />
      <mat-error
        *ngIf="lineItemForm.controls.lineItemValue.hasError('required')"
        >Please Enter Value</mat-error
      >
    </mat-form-field> -->

    <app-form-builder
    [module]="'add_line_items'"
    (trigger)="formEmitEvent($event)"
    
  ></app-form-builder>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <span fxFlex></span>
  <button  class="back-btn-ui" mat-dialog-close>Cancel</button>
  <button
    mat-raised-button
    (click)="addLineItem(lineItemForm)"
    [disabled]="disabledSave || !lineItemForm || lineItemForm?.invalid"
  >
    Add Line Item
  </button>
</mat-dialog-actions>
