<section class="expansion-panel-ui">
    <div class="menu-title ">
        <h1  *ngIf="Contacts && Contacts.name" title="{{Contacts.name}}" [innerHtml]="Contacts.name"></h1>
    </div>
<div class="expansion-panel-scroll">
    <mat-tab-group (selectedTabChange)="tabChanged($event)" *ngIf="!removeTabs && !loading" [selectedIndex]="selectedTabIndex">
        <!--////Details///-->
        <mat-tab label="Details" class="details-tab" *ngIf="!factoryProfile ">
            <perfect-scrollbar *ngIf="!emptyAddressData">               
                <mat-card class="client-documents-card">
                    <form [formGroup]="detailsForm" class="organisation-details form-ui">
                        <!--<button class="add-address-link" mat-button (click)="updateAddress()">
                        <mat-icon class="material-icons">add</mat-icon> {{language.defaults.addAddress}}
                    </button>-->

                        <mat-list fxLayout="row" style="padding-top: 0;" >
                            <div fxLayout="column" style="width:100%;">
                                <mat-form-field class="custom-input" floatLabel="never" style="margin-top: 24px;">
                                    <label class="custom-label">{{language.defaults.organisationName}}<span class="asterisk">*</span></label>
                                    <input matInput placeholder="Enter {{language.defaults.organisationName}}" maxlength=150 (keyup)="selectDetail()" formControlName="company_name">
                                    <mat-error *ngIf="detailsForm.controls.company_name.hasError('required') || detailsForm.controls.company_name.hasError('whitespace')">{{language.validations.organisationName}}</mat-error>
                                </mat-form-field>
                                <div  fxLayout="row" class="row-ui">
                                    <mat-form-field class="custom-input" floatLabel="never">
                                        <label class="custom-label">{{language.defaults.website}}</label>
                                        <input matInput placeholder="Enter {{language.defaults.website}}" (keyup)="selectDetail()" maxlength=150 formControlName="website">
                                        <mat-error *ngIf="detailsForm.controls.website.hasError('required')">{{language.validations.website}}</mat-error>
                                        <mat-error *ngIf="!detailsForm.controls.website.hasError('required') && detailsForm.controls.website.hasError('pattern')">{{language.validations.validURl}}</mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="custom-input" floatLabel="never" *ngIf="adminUser">
                                        <label class="custom-label">Status<span class="asterisk">*</span></label>
                                        <mat-select placeholder="Select Status" formControlName="status"  (click)="onStatusChange($event)">
                                            <mat-option [value]="stat.param"   *ngFor="let stat of status" [innerHtml]="stat.value"></mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="detailsForm.controls.status.hasError('required')">{{language.validations.status}}</mat-error>
                                    </mat-form-field>
                                </div>
                                <div  fxLayout="row"  class="row-ui">
                                    <mat-form-field class="custom-input" floatLabel="never" *ngIf="adminUser">
                                        <label class="custom-label">Currency<span class="asterisk">*</span></label>
                                        <mat-select placeholder="Select Currency" (click)="selectDetail()" formControlName="currency_id">
                                            <mat-option *ngFor="let cur of currencyX" [value]="cur.id">{{cur.name}} ({{cur.type}})</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                

                                <mat-form-field class="custom-input" floatLabel="never">
                                    <label class="custom-label">Country<span class="asterisk">*</span></label>
                                    <mat-select placeholder={{language.defaults.selectCountry}} (selectionChange)="onCountryChange($event)" formControlName="country_id">
                                        <!-- <mat-option [value]="Addcontry">Add Country</mat-option> -->
                                        <mat-option *ngFor="let country of countries" [value]="country.id">{{country.name}}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="!detailsForm.controls.country_id.pristine && detailsForm.controls.country_id.hasError('required')">Please Select Country</mat-error>

                                </mat-form-field>
                                </div>

                                <div class="add-new-address" *ngIf="submitCountry">
                                    <div  fxLayout="row row-ui" style="align-items: center;">
                                    <mat-form-field fxFlex="50" class="custom-input mandatory" floatLabel="never">
                                        <label class="custom-label">Add Country<span class="asterisk">*</span></label>
                                        <input matInput placeholder="Add Country" maxlength=10 placeholder="Add Country" formControlName="addCountry">
                                    </mat-form-field>
                                    <button class="add-new" type="button"  mat-raised-button  *ngIf="submitCountry" (click)="addCountry(detailsForm)">Add Country</button>
                                    </div>
                                </div>
                                <div class="cb"></div>
                                


                            </div>
                            <div fxLayout="column" class="image-upload org-upload" style="margin-left:16px;" [class.not-allowed]="pointerEvent">
                                <div ng2FileDrop [ngClass]="{'file-over': hasDropZoneOver}" (fileOver)="fileOverBase($event)" (onFileDrop)="fileDrop($event)" [uploader]="uploader" class="file-drop-zone">
                                    <input id="edit-org-logo" type="file" ng2FileSelect [uploader]="uploader" (change)="fileSelected($event)" [hidden]="true" multiple/>
                                    <label for="edit-org-logo" class="browse-file" *ngIf="!uploads.length">
                                        <a>Upload Logo</a>
                                    </label>
                                    <!-- <label for="edit-org-logo" class="change-file" *ngIf="uploads.length">
                                        <a>{{language.defaults.changeFile}}</a>
                                    </label> -->
                                    <label for="edit-org-logo" class="image-edit-delete" *ngIf="uploads.length">
                                        <a class="upload-open">{{language.defaults.changeFile}}</a>
                                        <!-- <mat-icon>mode_edit</mat-icon> -->
                                    </label>
                                </div>
                                <div class="change-user-file">
                                    <span *ngIf="uploadError" class="error-msg error-strip">*You have selected an invalid file type. Only jpg, jpeg, png files are allowed.</span>
                                </div>
                                <div class="change-user-file">
                                    <span *ngIf="sizeError" class="error-msg error-strip">*File more than 5MB is not allowed.</span>
                                </div>
                                <div class="images">
                                    <ul *ngIf="uploads.length">
                                        <li *ngFor="let file of uploads; let i = index">
                                            <img [src]="file.source_path" alt="file.filename">
                                            <div class="overlay"></div>
                                            <mat-icon class="delete" title="Delete" (click)="deleteItem(i)">delete</mat-icon>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </mat-list>
                        <div class="cb"></div>
                        <div class="footer animated slideInUp" fxLayout="row" fxLayoutAlign="end center" *ngIf="activestate">
                            <button type="button" class="icon-btn-ui" mat-button (click)="cancel(detailsForm)">{{language.defaults.cancel}}</button>
                            <button type="submit" class="icon-btn-ui" style="margin-left: 15px;" mat-raised-button (click)="updateOrganization(detailsForm)" >{{language.defaults.save}}</button>
                        </div>
                    </form>
                </mat-card>
                <div class="page-sub-header">
                    <div class="  d-flex justify-content-between align-items-center">
                        <h2>Address Details <span *ngIf="organizationDetails.length != 0">({{organizationDetails.length}})</span></h2>
                        <div *ngIf="organizationDetails.length != 0">
                            <button type="submit" style="margin-left: 15px;" mat-raised-button  (click)="updateAddress()" >{{language.defaults.addAddress}}</button>
                        </div>
                    </div>
                    
                </div>
                

                <div class="contacts-billable">
                    <!-- <mat-card class="contacts-card add-address" (click)="updateAddress()">
                        <mat-card-content>
                            <mat-icon class="contact-add">add</mat-icon>
                            <h3 class="contact-text">{{language.defaults.addAddress}}</h3>
                        </mat-card-content>
                    </mat-card> -->
                    <div class="row w-100">
                        <div class="col-sm-6 col-lg-4 adress-card" *ngFor="let org of organizationDetails; let i = index">
                    <mat-card class="card" >
                        <mat-card-title class="address-title">
                            Address {{i+1}}
                            <span class="icon-btn-holder">
                               <button class="btn btn-icon btn-flat-success" title="Edit" (click)="updateAddress(org, i)"><mat-icon class="contact-add">edit</mat-icon></button>
                               <button class="btn btn-icon btn-flat-success"  title="Delete" (click)="deleteOrganizationAddress(org, i)" ><mat-icon class="btn btn-icon btn-flat-success" class="contact-add">delete</mat-icon></button>  
                            </span>
                            
                        </mat-card-title>
                        <div class="contact-details">
                            <h3 class="contact-name">
                                {{org.address_type}}
                            </h3>
                            <p class="contact-address" title="{{org.company_name}}">{{org.company_name}}</p>
                            <p class="contact-address" title="{{org.address1}}">{{org.address1}}</p>
                            <p class="contact-address" *ngIf="org.address2" title="{{org.address2}}">{{org.address2}}</p>
                            <p class="contact-address" title="{{org.country_name}}, {{org.state}}">{{org.country_name}}, {{org.state}}</p>
                            <p class="contact-address" *ngIf="org.city" title="{{org.city}},  {{org.postal_code}}">{{org.city}}, {{org.postal_code}},</p>
                         </div>
                        
                        <div class="cb"></div>
                    </mat-card>
                </div>
                </div>
                <div class="no-results" *ngIf="organizationDetails.length == 0">
                    <div class="empty-img-holder">
                        <span class="material-icons">
                            business
                            </span>
                    </div>
                    <p class="no-result-text">No Address Found</p>
                    <button type="submit" style=" display: block; margin: 0 auto; margin-top: 14px;" mat-raised-button  (click)="updateAddress()" >{{language.defaults.addAddress}}</button>
                    </div>
                </div>

                <div *ngIf="!myProfile" style="display: none">
                    <mat-toolbar class="detail-toolbar">
                        <span class="title">My Version of {{companyDetails.companyName}}</span>
                    </mat-toolbar>
                    <div class="version-products">
                        <mat-card class="client-documents-card product-card" *ngIf="!noProducts">
                            <mat-list class="product">
                                <mat-list-item class="products-list product-divider">
                                    <h4 mat-header class="product-header">{{language.defaults.productName}}</h4>
                                </mat-list-item>
                                <mat-accordion class="product-accordion">
                                    <mat-expansion-panel *ngFor="let product of productsList">
                                        <mat-expansion-panel-header [expandedHeight]="'48px'">
                                            <mat-panel-title>
                                                <span class="prod-name">{{product.name}}</span>
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <ng-template matExpansionPanelContent>
                                            <div>
                                                <mat-card class="client-documents-card product-card">
                                                    <mat-list class="product">
                                                        <mat-list-item class="products-list product-divider">
                                                            <h4 mat-header class="product-header">Price Range</h4>
                                                            <h4 mat-header class="price-header">Default Price ({{clientCurrency}})</h4>
                                                        </mat-list-item>
                                                        <mat-list-item class="products-list" *ngFor="let range of product.priceRange">
                                                            <span mat-header class="prod-name">{{range.range_name}}</span>
                                                            <span>{{range.range_price}}</span>
                                                        </mat-list-item>
                                                    </mat-list>
                                                </mat-card>
                                            </div>
                                        </ng-template>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </mat-list>
                        </mat-card>
                    </div>
                </div>
            </perfect-scrollbar>
         
        </mat-tab>
        <!--////Details//-->

        <!--//Contacts//-->
        <mat-tab label="Contacts" class="contacts-tab" *ngIf="!factoryProfile">
            <div class="page-sub-header" *ngIf="contactsList.length != 0">
                <div class="  d-flex justify-content-between align-items-center">
                    <h2>Contacts <span >({{contactsList.length}})</span> </h2> 
                     <div  >
                        <button  (click)="updateOrganizationContacts()" style="margin-left: 15px;" mat-raised-button>{{language.defaults.contact}}</button>
                    </div>
                </div>
                
            </div>
            <div class="content-wrapper" >
                <div class="content-body">
                    <div class="c-row">
                      
                        <div class="w-33 contact-card-ui"  *ngFor="let contact of contactsList; let i = index;">
                            <div class="card">
                                <div class="card-body">
                                        <div class="d-flex justify-content-between flex-column w-100">
                                            <div class="d-flex justify-content-start">
                                                <div class="c-avatar">{{contact.contact.first_name | firstWord }}{{contact.contact.last_name | firstWord}}
                                                </div>
                                                <div class="contact-info">
                                                    <h3 title="{{contact.contact.first_name}} {{contact.contact.last_name}}">
                                                        {{contact.contact.first_name}} {{contact.contact.last_name}} <mat-icon *ngIf="contact.contact.contact_user_access" title="Can login as User">info</mat-icon>
                                                    </h3>
                                                    <p>{{contact.contact.primary_email}}</p>
                                                    <p class="contact-address" title="{{contact.contact.primary_phone}}">{{contact.contact.primary_phone}}</p>
                                            <p class="contact-address" title="{{contact.contact.designation_name}}">{{contact.contact.designation_name}}</p>

                                                   
                                                </div>
                                            </div>
                                            
                                            
                                        </div>
                                </div>
                                <div class="d-flex flex-wrap card-action">
                                    <a (click)="deleteOrganizationsContact(contact.contact, i)" 
                                    class="text-btn-danger"> Delete </a>
                                    <a class="text-btn-brand" (click)="updateOrganizationContacts(contact)"> Edit </a>  
                                    <a class="text-btn-brand" style="margin-left: 15px;" (click)="openDialog('reset',contact.contact.primary_email)" *ngIf="contact.contact.contact_user_access"> Reset Password </a>
                                </div> 
                            </div>
                        </div>
                    </div>

                
              

                <!-- <mat-card class="contacts-card address-card" *ngFor="let contact of contactsList; let i = index;">
                    <div class="contact-details">
                        <h3 class="contact-name" title="{{contact.contact.first_name}} {{contact.contact.last_name}}">
                            {{contact.contact.first_name}} {{contact.contact.last_name}}
                        </h3>
                        <p class="contact-address" title="{{contact.contact.primary_emai}}">{{contact.contact.primary_email}}</p>
                        <p class="contact-address" title="{{contact.contact.primary_phone}}">{{contact.contact.primary_phone}}</p>
                        <p class="contact-address" title="{{contact.contact.designation_name}}">{{contact.contact.designation_name}}</p>

                    </div>
                    <div class="contact-editDelete">
                        <div class="contact-edit" (click)="updateOrganizationContacts(contact)" title="Edit">
                            <span>edit</span>
                            <span class="divider-one"></span>
                        </div>
                        <div class="contact-delete" (click)="deleteOrganizationsContact(contact.contact, i)" title="Delete">
                            <span>delete</span>
                           
                        </div>
                    </div>
                    <div class="cb"></div>
                </mat-card> -->
                <div class="no-results" *ngIf="contactsList.length == 0">
                <div class="empty-img-holder">
                    <span class="material-icons">
                        contact_page
                        </span>
                </div>
                <p class="no-result-text">No Contacts Found</p>
                <button  (click)="updateOrganizationContacts()" style="display: block; margin:0 auto; margin-top: 15px;" mat-raised-button>{{language.defaults.contact}}</button>
                   
                </div>
                <!-- <div class="no-record no-clients" *ngIf="!fetchingData && emptyContactsData">No Contacts Found</div> -->
            </div>
            </div>
            
        </mat-tab>
        <!--///Contacts//-->

        <!--//Documents//-->
        <mat-tab label="Documents" class="documents-tab" *ngIf="myProfile && !factoryProfile">
            <app-organization-documents *ngIf="Contacts" [Organization]="Contacts" fxFlex="100%"></app-organization-documents>
        </mat-tab>
        <!--//Documents//-->

        <!--///Products//-->
        <mat-tab label="Products" class="products-tab" *ngIf="myProfile && !factoryProfile">
            <app-organizations-products *ngIf="Contacts" (updateProducts)="updateProducts($event)" [Organization]="Contacts" fxFlex="100%"></app-organizations-products>
        </mat-tab>

        <!--//Products//-->

        <!--///Settings///-->
        <!-- <mat-tab label="User Access" class="settings-tab" *ngIf="!factoryProfile">
            <app-organizations-settings [Organization]="Contacts" fxFlex="100%"></app-organizations-settings>

        </mat-tab> -->
        <!-- certifictions tab -->

        <!-- <mat-tab label="Certifications For Products" class="Certifications-tab" *ngIf="!factoryProfile && saveProduct">
            <app-organizations-certifications *ngIf="Contacts" [Organization]="Contacts" fxFlex="100%"></app-organizations-certifications>
        </mat-tab> -->
        
        <!-- <mat-tab label="My Products" class="Certifications-tab" *ngIf="!factoryProfile">
            <app-client-products *ngIf="Contacts" [class.client-footer]="!myProfile" [Organization]="Contacts" fxFlex="100%"></app-client-products>
        </mat-tab> -->
        <!-- certifictions tab -->
        <mat-tab label="Special Instructions" class="Certifications-tab" *ngIf="myProfile && factoryProfile">
            <div class="contacts-billable">
                <mat-card class="contacts-card user-contact" (click)="addInstruction('')">
                    <mat-card-content>
                        <mat-icon class="contact-add">add</mat-icon>
                        <h3 class="contact-text">Add</h3>
                    </mat-card-content>
                </mat-card>
                <mat-card class="contacts-card useraccess-card" *ngFor="let instruction of specialInstruction;">
                    <div class="instruction-details">
                        <p class="instruction-data">{{instruction.name}}
                        </p>
                    </div>
                    <div class="contact-editView">
                        <div class="contact-view" (click)="viewIns(instruction)">View</div>
                    </div>
                    <div class="contact-editDelete spcl-ins">
                        <div class="contact-edit" *ngIf="!factoryProfile" title="Edit" (click)="addInstruction(instruction)">
                            <span>edit</span>
                            <span class="divider-one"></span>
                        </div>
                        <div class="contact-delete" *ngIf="!factoryProfile" (click)="deleteIns(instruction)">
                            <span>delete</span>
                            <span class="divider-two"></span>
                        </div>
                        <div class="divider"></div>
                    </div>

                    <div class="cb"></div>
                </mat-card>
            </div>
        </mat-tab>
    </mat-tab-group>
  
  
    <div class="container-ui new-center-empty-ui "*ngIf="!fetchingData && emptyAddressData">
        <mat-card class="no-results" >
            <div class="empty-img-holder">
                <!-- <img [src]="images.client_icon"> -->
                <span class="material-icons">info</span>
            </div>
           
            <p class="no-result-text">No Clients Found </p>
        </mat-card>
    </div>

    <div class=" container-ui new-center-empty-ui" *ngIf="loading">
        <mat-spinner class="medium-spinner"  ></mat-spinner>
    </div>

  
</div>
</section>