<section class="expansion-panel-ui">
  <div
    class="menu-title"
    style="display: flex; justify-content: space-between;"
  >
    <h1
      *ngIf="Contacts && Contacts.company_name"
      title="{{ Contacts.company_name }}"
      [innerHtml]="Contacts.company_name"
    ></h1>
    <div *ngIf="viewActivityLogIcon && !emptyAddressData">
      <button
        mat-icon-button
        class="action-orderbtn"
        (click)="openActivityModal('add_client')"
      >
        <img [src]="images.activity_log_icon" title="User Activity Tracker" />
      </button>
    </div>
  </div>
  <div class="expansion-panel-scroll">
    <mat-tab-group
      (selectedTabChange)="tabChanged($event)"
      *ngIf="!removeTabs && !loading"
      [selectedIndex]="selectedTabIndex"
    >
      <!--////Details///-->
      <mat-tab
        label="Details"
        class="details-tab"
        *ngIf="adminService.rolePermissions.view_clients == 1"
      >
        <perfect-scrollbar *ngIf="!emptyAddressData">
          <mat-card class="client-documents-card">
            <div class="organisation-details form-ui">
              <mat-list fxLayout="row" style="padding-top: 0;">
                <app-form-builder
                  [module]="'add_client'"
                  (trigger)="formEmitEvent($event)"
                  (emitUploadInfo)="emitUploadInfo($event)"
                  [editUpload]="true"
                  [Contacts]="Contacts"
                  [undoOnCancel]="undoOnCancel"
                  [PermissionKey]="'edit_client'"
                ></app-form-builder>
              </mat-list>
              <div class="cb"></div>
              <div
                class="footer animated slideInUp"
                fxLayout="row"
                fxLayoutAlign="end center"
                *ngIf="detailsForm?.dirty"
              >
                <button
                  type="button"
                  class="icon-btn-ui"
                  class="back-btn-ui"
                  (click)="cancel(detailsForm)"
                >
                  {{ language.defaults.cancel }}
                </button>
                <button
                  type="submit"
                  class="icon-btn-ui"
                  style="margin-left: 15px;"
                  mat-raised-button
                  (click)="updateOrganization(detailsForm)"
                  [disabled]="detailsForm.invalid"
                >
                  {{ language.defaults.save }}
                </button>
              </div>
            </div>
          </mat-card>
          <div
            class="page-sub-header"
            *ngIf="adminService.rolePermissions.view_client_address_details == 1"
          >
            <div class="d-flex justify-content-between align-items-center">
              <h2>
                Address Details
                <span *ngIf="organizationDetails.length != 0"
                  >({{ organizationDetails.length }})</span
                >
              </h2>
              <div
                *ngIf="organizationDetails.length != 0 && adminService.rolePermissions.add_client_address_details == 1"
              >
                <button
                  type="submit"
                  style="margin-left: 15px;"
                  mat-raised-button
                  (click)="updateAddress()"
                >
                  {{ language.defaults.addAddress }}
                </button>
              </div>
            </div>
          </div>

          <div
            class="contacts-billable"
            *ngIf="adminService.rolePermissions.view_client_address_details == 1"
          >
            <!-- <mat-card class="contacts-card add-address" (click)="updateAddress()">
                        <mat-card-content>
                            <mat-icon class="contact-add">add</mat-icon>
                            <h3 class="contact-text">{{language.defaults.addAddress}}</h3>
                        </mat-card-content>
                    </mat-card> -->
            <div class="row w-100">
              <div
                class="col-sm-6 col-lg-4 adress-card"
                *ngFor="let org of organizationDetails; let i = index"
              >
                <mat-card class="card">
                  <mat-card-title class="address-title">
                    Address {{ i + 1 }}
                    <span class="icon-btn-holder">
                      <button
                        class="btn btn-icon btn-flat-success"
                        title="Edit"
                        (click)="updateAddress(org, i)"
                        *ngIf="adminService.rolePermissions.edit_client_address_details == 1"
                      >
                        <mat-icon class="contact-add">edit</mat-icon>
                      </button>
                      <button
                        class="btn btn-icon btn-flat-success"
                        title="Delete"
                        (click)="
                          deleteOrganizationAddress(
                            org,
                            'add_address',
                            'Address'
                          )
                        "
                        *ngIf="adminService.rolePermissions.delete_client_address_details == 1"
                      >
                        <mat-icon
                          class="btn btn-icon btn-flat-success"
                          class="contact-add"
                          >delete</mat-icon
                        >
                      </button>
                    </span>
                  </mat-card-title>
                  <div class="contact-details">
                    <h3 class="contact-name">
                      <!-- {{ org.address_types_id }} -->
                      <span>{{ org?.address_type_id?.label }}</span>
                      <!-- <span *ngIf="org.address_type_id === 2"
                        >Office/Billing Address</span
                      >
                      <span *ngIf="org.address_type_id === 4"
                        >Shipping Address
                      </span> -->
                    </h3>
                    <p class="contact-address" title="{{ org.company_name }}">
                      {{ org.company_name }}
                    </p>
                    <p class="contact-address" title="{{ org.address1 }}">
                      {{ org.address1 }},
                    </p>
                    <p
                      class="contact-address"
                      *ngIf="org.address2"
                      title="{{ org.address2 }}"
                    >
                      {{ org.address2 }} ,
                    </p>
                    <p
                      class="contact-address"
                      *ngIf="org.address3"
                      title="{{ org.address3 }}"
                    >
                      {{ org.address3 }},
                    </p>
                    <p
                      class="contact-address"
                      *ngIf="org.address4"
                      title="{{ org.address4 }}"
                    >
                      {{ org.address4 }},
                    </p>
                    <p
                      class="contact-address"
                      title="{{ org.country_name }}, {{ org.state_name }}"
                    >
                      {{ org.country_name }}, {{ org.state_name }} ,
                    </p>
                    <p
                      class="contact-address"
                      *ngIf="org.city"
                      title="{{ org.city }},  {{ org.postal_code }}"
                    >
                      {{ org.city }}, {{ org.postal_code }} .
                    </p>
                  </div>

                  <div class="cb"></div>
                </mat-card>
              </div>
            </div>
            <div class="no-results" *ngIf="organizationDetails.length == 0">
              <div class="empty-img-holder">
                <span class="material-icons"> business </span>
              </div>
              <p class="no-result-text">No Address Found</p>
              <button
                type="submit"
                style="display: block; margin: 0 auto; margin-top: 14px;"
                mat-raised-button
                (click)="updateAddress()"
              >
                {{ language.defaults.addAddress }}
              </button>
            </div>
          </div>

          <div *ngIf="!myProfile" style="display: none;">
            <mat-toolbar class="detail-toolbar">
              <span class="title"
                >My Version of {{ companyDetails.companyName }}</span
              >
            </mat-toolbar>
            <div class="version-products">
              <mat-card
                class="client-documents-card product-card"
                *ngIf="!noProducts"
              >
                <mat-list class="product">
                  <mat-list-item class="products-list product-divider">
                    <h4 mat-header class="product-header">
                      {{ language.defaults.productName }}
                    </h4>
                  </mat-list-item>
                  <mat-accordion class="product-accordion">
                    <mat-expansion-panel *ngFor="let product of productsList">
                      <mat-expansion-panel-header [expandedHeight]="'48px'">
                        <mat-panel-title>
                          <span class="prod-name">{{ product.name }}</span>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <ng-template matExpansionPanelContent>
                        <div>
                          <mat-card class="client-documents-card product-card">
                            <mat-list class="product">
                              <mat-list-item
                                class="products-list product-divider"
                              >
                                <h4 mat-header class="product-header">
                                  Price Range
                                </h4>
                                <h4 mat-header class="price-header">
                                  Default Price ({{ clientCurrency }})
                                </h4>
                              </mat-list-item>
                              <mat-list-item
                                class="products-list"
                                *ngFor="let range of product.priceRange"
                              >
                                <span mat-header class="prod-name"
                                  >{{ range.range_name }}</span
                                >
                                <span>{{ range.range_price }}</span>
                              </mat-list-item>
                            </mat-list>
                          </mat-card>
                        </div>
                      </ng-template>
                    </mat-expansion-panel>
                  </mat-accordion>
                </mat-list>
              </mat-card>
            </div>
          </div>
        </perfect-scrollbar>
      </mat-tab>
      <!--////Details//-->

      <!--//Contacts//-->
      <mat-tab
        label="Contacts"
        class="contacts-tab"
        *ngIf="adminService.rolePermissions.view_contact == 1"
      >
        <div class="page-sub-header" *ngIf="contactsList.length != 0">
          <div class="d-flex justify-content-between align-items-center">
            <h2>Contacts <span>({{ contactsList.length }})</span></h2>
            <div>
              <button
                (click)="updateOrganizationContacts()"
                style="margin-left: 15px;"
                mat-raised-button
                *ngIf="adminService.rolePermissions.add_contact == 1"
              >
                {{ language.defaults.contact }}
              </button>
            </div>
          </div>
        </div>
        <div class="content-wrapper">
          <div class="content-body">
            <div class="c-row">
              <div
                class="w-33 contact-card-ui"
                *ngFor="let contact of contactsList; let i = index"
              >
                <div class="card">
                  <div class="card-body">
                    <div
                      class="d-flex justify-content-between flex-column w-100"
                    >
                      <div class="d-flex justify-content-start">
                        <div class="c-avatar">
                          {{ contact.first_name | firstWord }}{{
                          contact.last_name | firstWord }}
                        </div>
                        <div class="contact-info">
                          <h3
                            class="ellipsis"
                            title="{{ contact.first_name }} {{
                              contact.last_name
                            }}"
                          >
                            {{ contact.first_name }} {{ contact.last_name }}
                            <mat-icon
                              *ngIf="contact.give_user_access"
                              title="Can login as User"
                              >info</mat-icon
                            >
                          </h3>
                          <p>{{ contact.primary_email }}</p>
                          <p
                            class="contact-address"
                            title="{{ contact.primary_phone }}"
                          >
                            {{ contact.primary_phone }}
                          </p>
                          <p
                            class="contact-address"
                            title="{{ contact.designation_name }}"
                          >
                            {{ contact.designation_name }}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex flex-wrap card-action">
                    <a
                      (click)="
                        deleteOrganizationAddress(
                          contact,
                          'add_contact',
                          'Contact'
                        )
                      "
                      *ngIf="!contact.give_user_access &&
                      adminService.rolePermissions.delete_contact == 1
                      "
                      class="text-btn-danger"
                    >
                      Delete
                    </a>
                    <a
                      class="text-btn-brand"
                      (click)="updateOrganizationContacts(contact)"
                      *ngIf="adminService.rolePermissions.edit_contact == 1"
                    >
                      Edit
                    </a>
                    <a
                      class="text-btn-brand"
                      style="margin-left: 15px;"
                      (click)="openDialog('reset', contact.primary_email)"
                      *ngIf="contact.give_user_access"
                    >
                      Reset Password
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <!-- <mat-card class="contacts-card address-card" *ngFor="let contact of contactsList; let i = index;">
                    <div class="contact-details">
                        <h3 class="contact-name" title="{{contact.first_name}} {{contact.last_name}}">
                            {{contact.first_name}} {{contact.last_name}}
                        </h3>
                        <p class="contact-address" title="{{contact.primary_emai}}">{{contact.primary_email}}</p>
                        <p class="contact-address" title="{{contact.primary_phone}}">{{contact.primary_phone}}</p>
                        <p class="contact-address" title="{{contact.designation_name}}">{{contact.designation_name}}</p>

                    </div>
                    <div class="contact-editDelete">
                        <div class="contact-edit" (click)="updateOrganizationContacts(contact)" title="Edit">
                            <span>edit</span>
                            <span class="divider-one"></span>
                        </div>
                        <div class="contact-delete" (click)="deleteOrganizationsContact(contact, i)" title="Delete">
                            <span>delete</span>

                        </div>
                    </div>
                    <div class="cb"></div>
                </mat-card> -->
            <div class="no-results" *ngIf="contactsList.length == 0">
              <div class="empty-img-holder">
                <span class="material-icons"> contact_page </span>
              </div>
              <p class="no-result-text">No Contacts Found</p>
              <button
                (click)="updateOrganizationContacts()"
                style="display: block; margin: 0 auto; margin-top: 15px;"
                mat-raised-button
              >
                {{ language.defaults.contact }}
              </button>
            </div>
            <!-- <div class="no-record no-clients" *ngIf="!fetchingData && emptyContactsData">No Contacts Found</div> -->
          </div>
        </div>
      </mat-tab>
      <mat-tab
        label="Account Manager"
        class="contacts-tab"
        *ngIf="adminService.rolePermissions.view_client_account_manager == 1"
      >
        <app-account-manager
          [contactsList]="managerList"
          [Contacts]="Contacts"
          (getOrgStoreAttribute)="getOrgStoreAttribute($event)"
          (deleteManager)="
            deleteOrganizationAddress($event.data, $event.module, $event.type)
          "
        ></app-account-manager>
      </mat-tab>
      <!--///Contacts//-->

      <!--//Documents//-->
      <!-- <mat-tab
        label="Documents"
        class="documents-tab"
        *ngIf="myProfile && !factoryProfile"
      >
        <app-organization-documents
          *ngIf="Contacts"
          [Organization]="Contacts"
          fxFlex="100%"
        ></app-organization-documents>
      </mat-tab> -->
      <!--//Documents//-->

      <!--///Products//-->
      <!-- <mat-tab
        label="Products"
        class="products-tab"
        *ngIf="myProfile && !factoryProfile"
      >
        <app-organizations-products
          *ngIf="Contacts"
          (updateProducts)="updateProducts($event)"
          [Organization]="Contacts"
          fxFlex="100%"
        ></app-organizations-products>
      </mat-tab> -->

      <!--//Products//-->

      <!--///Settings///-->
      <!-- <mat-tab label="User Access" class="settings-tab" *ngIf="!factoryProfile">
            <app-organizations-settings [Organization]="Contacts" fxFlex="100%"></app-organizations-settings>

        </mat-tab> -->
      <!-- certifictions tab -->

      <!-- <mat-tab label="Certifications For Products" class="Certifications-tab" *ngIf="!factoryProfile && saveProduct">
            <app-organizations-certifications *ngIf="Contacts" [Organization]="Contacts" fxFlex="100%"></app-organizations-certifications>
        </mat-tab> -->

      <!-- <mat-tab label="My Products" class="Certifications-tab" *ngIf="!factoryProfile">
            <app-client-products *ngIf="Contacts" [class.client-footer]="!myProfile" [Organization]="Contacts" fxFlex="100%"></app-client-products>
        </mat-tab> -->
      <!-- certifictions tab -->
      <mat-tab
        label="Special Instructions"
        class="Certifications-tab"
        *ngIf="myProfile && factoryProfile"
      >
        <div class="contacts-billable">
          <mat-card
            class="contacts-card user-contact"
            (click)="addInstruction('')"
          >
            <mat-card-content>
              <mat-icon class="contact-add">add</mat-icon>
              <h3 class="contact-text">Add</h3>
            </mat-card-content>
          </mat-card>
          <mat-card
            class="contacts-card useraccess-card"
            *ngFor="let instruction of specialInstruction"
          >
            <div class="instruction-details">
              <p class="instruction-data">{{ instruction.name }}</p>
            </div>
            <div class="contact-editView">
              <div class="contact-view" (click)="viewIns(instruction)">
                View
              </div>
            </div>
            <div class="contact-editDelete spcl-ins">
              <div
                class="contact-edit"
                *ngIf="!factoryProfile"
                title="Edit"
                (click)="addInstruction(instruction)"
              >
                <span>edit</span>
                <span class="divider-one"></span>
              </div>
              <div
                class="contact-delete"
                *ngIf="!factoryProfile"
                (click)="deleteIns(instruction)"
              >
                <span>delete</span>
                <span class="divider-two"></span>
              </div>
              <div class="divider"></div>
            </div>

            <div class="cb"></div>
          </mat-card>
        </div>
      </mat-tab>
    </mat-tab-group>

    <div
      class="container-ui new-center-empty-ui"
      *ngIf="!fetchingData && emptyAddressData"
    >
      <mat-card class="no-results">
        <div class="empty-img-holder">
          <!-- <img [src]="images.client_icon"> -->
          <span class="material-icons">info</span>
        </div>

        <p class="no-result-text">No Clients Found</p>
      </mat-card>
    </div>

    <!-- <div class="container-ui new-center-empty-ui" *ngIf="loading">
      <mat-spinner class="medium-spinner"></mat-spinner>
    </div> -->
  </div>
</section>
