<mat-toolbar color="primary">
  <h2 mat-dialog-title>Cancel {{ data?.module }}</h2>
  <span fxFlex></span>
</mat-toolbar>
<mat-dialog-content class="delete-body">
  <p>Are you sure you want to cancel this {{ data.module }}?</p>
</mat-dialog-content>
<mat-spinner class="medium-spinner" *ngIf="showSpinner"></mat-spinner>

<mat-dialog-actions>
  <span fxFlex></span>
  <button class="back-btn-ui" mat-dialog-close>No</button>
  <button mat-raised-button (click)="deleteOrder()" [disabled]="disabledSave" style="margin-left: 10px;">
    Yes
  </button>
  <!--<button *ngIf="!success" mat-raised-button mat-dialog-close color="warn" (click)="confirm()"></button>-->
</mat-dialog-actions>
