<div class="center-section-scroll vh-100 d-flex media-list-data holy-grail body-white  ">
	<div class="flex-fixed-header menu-title  ">
		<h2 style="font-weight: 400;">{{language.defaults.roleCount}} ({{totalCount}})</h2>
		<!-- <span class="add-link" (click)="getRole()">
			<mat-icon>add</mat-icon>Add
		</span> -->
		<span class="add-link custom-tooltip import-img" (click)="getRole()" *ngIf="isAddPerm">
			<img [src]='images.add'>
			 <span class="tooltiptext">Add</span>
		  </span>
	</div>

	<div class="app-search-container search-small">
		<mat-form-field class="search" floatLabel="never">
			<input matInput placeholder={{language.defaults.search}} #search (keyup)="searchRoles(search.value, $event)"
				(blur)="!search.value.length ? open = false : open = true">
			<mat-icon matPrefix class="org-search">search</mat-icon>
			<mat-icon matSuffix *ngIf="searching" class="spinner">
				<mat-spinner class="small-spinner"></mat-spinner>
			</mat-icon>
			<mat-icon matSuffix *ngIf="!searching && search.value.length"
				(click)="search.value = '';searchRoles(search.value)">close</mat-icon>
		</mat-form-field>
	</div>

	<perfect-scrollbar class="p-l-8 p-r-8 " style="overflow: hidden; margin-top: 0; margin-bottom: 0;">
		<div infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50" (scrolled)="onScroll()"
			[scrollWindow]="false">
			<mat-spinner class="medium-spinner" *ngIf="fetchingData"></mat-spinner>
			<mat-list class="media-list" *ngIf="!fetchingData">
				<mat-list-item @AdminListAnimate *ngFor="let list of rolesList" class=" " (click)="getRole(list)"
					[class.active]="list.id === selectedRole.id" class="menu-main-list">
					<div class="media d-flex align-items-center">
						<div class="media-body " style="padding-left: 2px;">
							<h1 class="font-weight-bold d-block text-nowrap single  " title="{{list.name}}"
								[innerHtml]="list.name"></h1>

						</div>
					</div>

				</mat-list-item>
				<mat-list-item *ngIf="paginationScroll">{{language.defaults.loading}}</mat-list-item>
			</mat-list>
			<div class="search-empty admin-search" *ngIf="noRoles && !fetchingData">{{language.defaults.noRoles}}</div>
		</div>
	</perfect-scrollbar>
	<app-pagination *ngIf="totalCount!=0" [pageLimit]="totalCount" (pageloadMore)="loadMore($event)"></app-pagination>
</div>