<div
  class="inner-container declaration-section"
  style="min-height: unset !important"
>
  <mat-toolbar class="package-toolbar">
    <img class="shipping-image" [src]="images.pdf_download" />
    <span>Scomet Declaration</span>
    <span fxFlex></span>
    <div *ngIf="viewActivityLogIcon">
      <button
        mat-icon-button
        class="action-orderbtn"
        (click)="openActivityModal('non_scomet')"
      >
        <img [src]="images.activity_log_icon" title="Activity Log" />
      </button>
    </div>
    <button (click)="onEdit()" mat-icon-button>
      <mat-icon class="edit-icon" title="Edit" mat-icon-button
        >mode_edit
      </mat-icon>
    </button>
    <a
      *ngIf="!clientPermission"
      target="_blank"
      href="generateNonScomet?id={{ orders.selectedOrder.id }}&is_printable=1"
    >
      <button mat-icon-button>
        <img [src]="images.printer_icon" title="Print" />
      </button>
    </a>
    <a href="generateNonScomet?id={{ orders.selectedOrder.id }}&is_printable=0">
      <button mat-icon-button>
        <img [src]="images.download_arrow" title="Download" />
      </button>
    </a>

    <button (click)="toggleDiv()" mat-icon-button>
      <img
        [src]="images.grey_arrow"
        class="expand-icon"
        [class.close]="!showDiv"
        mat-icon-button
      />
    </button>
  </mat-toolbar>
  <div class="non-scomet-decl layout" [class.minimize-div]="!showDiv">
    <p style="text-align: right" *ngFor="let invoice of orders.invoice">
      Date: {{ invoice.Inovice.date_added }}
    </p>

    <div class="comet-to">
      <p>To,</p>
      <p *ngIf="!isEditing" [innerHTML]="data?.toAddress"></p>

      <mat-form-field
        *ngIf="isEditing"
        class="custom-input block-ele grid-full"
        floatLabel="never"
        style="
          margin-top: 0px;
          position: relative;
          left: -5px;
          top: 7px;
          max-width: 50%;
        "
      >
        <textarea
          [(ngModel)]="toAddress"
          matInput
          placeholder="Enter To Address"
          autofocus="on"
          style="
            height: 126px;
            line-height: 1.4;
            padding: 4px 10px;
            border-width: 2px;
          "
          rows="3"
        >
        </textarea>
      </mat-form-field>
    </div>
    <p style="text-decoration: underline">Sub: Scomet Declaration</p>
    <p class="mt mb" *ngFor="let invoice of orders.invoice">
      Ref : Invoice no: {{ invoice.Inovice.inv_nbr }} date:
      {{ invoice.Inovice.date_added }}
    </p>
    <p class="mb">
      Dest: {{ orders.shippingAddr.company_name }},
      {{ orders.shippingAddr.ship_countrty }}
    </p>
    <p class="mt">Dear Sir / Madam,</p>
    <p class="mt mb">
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Refer to the above-mentioned
      export invoice number, which is to be exported to
      {{ orders.shippingAddr.ship_countrty }} ,{{
        orders.shippingAddr.ship_countrty
      }}
      . We hereby certify that M/s.
      {{ compnayDetails?.name }}. having IEC no.: {{ compnayDetails?.ie_code }}
      <!-- {{ bankDetails?.iec_no ? bankDetails?.iec_no : "" }}  -->
      and is an exporter of
      <!-- {{ productDetails }}  -->
      <span *ngIf="!isEditing" [innerHTML]="productDetails"></span>
      <span>
        <mat-form-field
          *ngIf="isEditing"
          class="custom-input block-ele grid-full"
          floatLabel="never"
          style="
            margin-top: 0px;
            position: relative;
            left: -5px;
            top: 7px;
            max-width: 50%;
          "
        >
          <textarea
            [(ngModel)]="productDetails"
            matInput
            placeholder="Enter To Address"
            autofocus="on"
            style="
              height: 126px;
              line-height: 1.4;
              padding: 4px 10px;
              border-width: 2px;
            "
            rows="3"
          >
          </textarea>
        </mat-form-field>
      </span>
      which is used to relieve pain and discomfort caused by strains, sprains,
      and other muscle injuries.
    </p>
    <p class="mb mt">We declare that the said shipment under invoice no.</p>

    <div>
      <table>
        <tbody>
          <tr>
            <td style="padding: 8px">
              <p style="text-align: left">Invoice no</p>
            </td>
            <td style="padding: 8px">
              <p style="text-align: left">Country</p>
            </td>

            <td style="padding: 8px">
              <p style="text-align: left">Mode of export</p>
            </td>

            <td style="padding: 8px; width: 30%">
              <p style="text-align: left">Material</p>
            </td>
          </tr>
          <tr>
            <td *ngFor="let invoice of orders.invoice" style="padding: 8px">
              <p style="text-align: left">
                {{ invoice.Inovice.inv_nbr }}
              </p>
            </td>
            <td style="padding: 8px">
              <p style="text-align: left">
                {{ orders.shippingAddr.ship_countrty }}
              </p>
            </td>

            <td style="padding: 8px">
              <p style="text-align: left">
                {{ orders.selectedOrder.transport_mode }}
              </p>
            </td>

            <td style="padding: 8px">
              <p style="text-align: left">
                {{ productDetails }}
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <p class="mt mb">
        As per para no. Xxxxx of scomet list (appendix-3) our product does not
        fall under scomet list (materials, processing equipment and related
        technologies) vide notification no. 37 (re 2012)/2009 -2014 dated
        14/03/2019 issued under the foreign trade development and regulation act
        1992.
      </p>
      <p class="mt mb">The above declaration is true and correct.</p>
      <p class="mb">Thanking You,</p>
      <p class="mb">For {{ compnayDetails?.name }}.</p>
      <p style="margin-top: 0px">Authorized Signatory</p>
    </div>

    <div
      *ngIf="isEditing"
      class="footer-bottom fxflex"
      style="padding: 14px; position: absolute; bottom: 0; right: 0"
      fxLayout="row"
      fxLayoutAlign="end center"
    >
      <span fxFlex></span>
      <section class="section-right">
        <button (click)="onEdit()" type="button" mat-button>Cancel</button>

        <button (click)="onEdited()" type="submit" mat-raised-button>
          Save
        </button>
      </section>
      <div class="cb"></div>
    </div>
  </div>
</div>
