<div class="app-modal" [class]="(App.user_details.log_type!='2'?'app-modal admin':'app-modal client')">
    <mat-toolbar>
        <h2 mat-dialog-title></h2>
        <span fxFlex class="modal-title">
            <mat-icon *ngIf="(stepper._selectedIndex!='0')" (click)="goToPrev(stepper)" class="back-to-orders material-icons">arrow_back</mat-icon> 
            <span>Create Order</span>
        </span>
        <!--<button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>-->
    </mat-toolbar>

    <mat-horizontal-stepper class="step" @stepTransition #stepper [class]="'step_'+stepper._selectedIndex">
        <mat-step *ngIf="(App.user_details.log_type!='2')">
            <mat-dialog-content>
                <form [formGroup]="clientsForm">
                <mat-list>

                    <mat-form-field class="custom-input" floatLabel="never">
                        <label class="custom-label">Select Client</label>
                        <mat-select placeholder="Select Client" formControlName="client"  panelClass="test-select">

                            <mat-option *ngFor="let client of order.organizations" [value]="client.id">
                                {{ client.name }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="clientsForm.controls.client.hasError('required')" >
                            Please Select Client
                        </mat-error>

                    </mat-form-field>
                    <!-- <div class="error" *ngIf="(order.clientSubmit && order.selectedOrg=='')">Please Select Client</div> -->
                </mat-list>
                </form>
            </mat-dialog-content>
            <mat-dialog-actions>
                <span fxFlex></span>
                <button mat-button mat-dialog-close>Cancel</button>
                <button mat-raised-button color="primary" (click)="goToProducts(stepper)">Select Product</button>
            </mat-dialog-actions>
        </mat-step>

        <mat-step class="product-list-step">
            <mat-dialog-content>
                <div class="modal-label">
                    <div>Select Product</div>
                <span *ngIf="order.selectedProductsError" class="error-msg">Please Select Product</span>
                </div>
                <mat-toolbar class="mat-toolbar-strip">
                    <h3 class="product-name">PRODUCT</h3>
                    <span fxFlex></span>
                    <h3>QUANTITY</h3>
                    <span fxFlex></span>
                    <h3>PRICE</h3>
                </mat-toolbar>

                <mat-list class="products-list">
                    <mat-list-item *ngFor="let product of order.products">
                        <mat-checkbox (click)="changeCheckbox(product)" class="product-name">{{product.name}}</mat-checkbox>
                        <span fxFlex></span>
                        <input type="number" matInput class="inputBox" [(ngModel)]="product.quantity" placeholder="0">
                        <h6 class="weight-label">Kg</h6>
                        <span fxFlex></span>
                        <span class="price-label">{{order.currency+' '+product.price_format}}</span>
                    </mat-list-item>
                </mat-list>

                <mat-list>
                    <form [formGroup]="productsForm">
                        <mat-form-field class="custom-input" floatLabel="never">
                            <label class="custom-label">PO NO</label>
                            <!-- [(ngModel)]="order.po_no" -->
                            <input matInput formControlName="po_no" placeholder="PO No">
                            <mat-error *ngIf="productsForm.controls.po_no.hasError('required')" >
                                Please enter PO NO
                            </mat-error>
                        </mat-form-field>
						<div class="upload-suggestion">
						  <div>
						    <label>Valid File Types: </label>
						    <p>pdf, jpeg, png and jpg</p>
						  </div>
						  <div>
						    <label>File Size: </label>
						    <p>Upto 5MB</p>
						  </div>
						</div>
                        <div fxLayout="row" class="image-upload" [class.not-allowed]="pointerEvent">
						  <div ng2FileDrop [ngClass]="{'file-over': hasDropZoneOver}" (fileOver)="fileOverBase($event)" (onFileDrop)="fileDrop($event)"
                                [uploader]="uploader" class="file-drop-zone">
                                <input id="add-purchase-order" type="file" ng2FileSelect [uploader]="uploader" (change)="fileSelected($event)" [hidden]="true" multiple
                                />
                                <label for="add-purchase-order">
                                    <p class="drag">{{language.defaults.dragHere}}</p>
                                    <p class="or">{{language.defaults.or}}</p>
                                    <p class="browse">{{language.defaults.browse}}</p>
                                </label>
                            </div>
						
                            <div class="images">
                                <ul *ngIf="uploads.length">
                                    <li *ngFor="let file of uploads; let i = index">
                                        <img [src]="file.source_path" alt="file.filename">
                                        <div class="overlay"></div>
                                        <mat-icon class="delete" (click)="deleteItem(i)">delete</mat-icon>
                                    </li>
                                </ul>
                            </div>
                        </div>
						<!-- <div class="error-msg" *ngIf="order.uploadError">Please Upload File.</div> -->
                        <mat-form-field class="custom-input" floatLabel="never">
                            <label class="custom-label">Special Instructions</label>
                            <!-- [(ngModel)]="order.special_instructions" -->
                            <textarea matInput formControlName="special_instructions" placeholder="Special Instructions"></textarea>
                        </mat-form-field>
                        <mat-form-field class="custom-input" floatLabel="never">
                            <label class="custom-label">Email Address</label>
                            <!-- [(ngModel)]="order.email" -->
                            <input matInput formControlName="email" placeholder="Email Address">
                            <mat-error *ngIf="productsForm.controls.email.hasError('required')" >
                                Please Enter Email Address
                            </mat-error>
                            <mat-error *ngIf = "!productsForm.controls.email.hasError('required') && productsForm.controls.email.hasError('email')" >
                                {{language.validations.emailValidation}}
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="custom-input" floatLabel="never">
                            <label class="custom-label">Phone</label>
                            <!-- [(ngModel)]="order.phone" -->
                            <input type="number" minlength="10" maxlength="10" formControlName="phone" matInput placeholder="Phone">
                            <mat-error *ngIf="productsForm.controls.phone.hasError('required')" >
                                Please Enter Phone Number
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="custom-input" floatLabel="never">
                            <label class="custom-label">Attention</label>
                            <!-- [(ngModel)]="order.phone" -->
                            <input type="text" formControlName="kindAttn" matInput placeholder="kindAttn">
                            <mat-error *ngIf="productsForm.controls.phone.hasError('required')" >
                                Please Enter Phone Number
                            </mat-error>
                        </mat-form-field>
                    </form>
                </mat-list>
            </mat-dialog-content>
            <mat-dialog-actions>
                <span fxFlex></span>
                <button mat-button mat-dialog-close>Cancel</button>
                <button mat-raised-button color="primary" (click)="goToAddress(stepper)">Select Address</button>
            </mat-dialog-actions>
        </mat-step>
        <mat-step class="address-list-step">
            <mat-dialog-content class="address-content">
                <mat-toolbar class="mat-toolbar-strip">
                    <h3>Select Shipping Address<span *ngIf="order.selectedShippingError" class="error-msg error-strip">Please Select Shipping Address</span></h3>
                    <span fxFlex></span>
                    <span class="add-link" (click)="goToCreateAddress(stepper, 'client')">
                        <mat-icon class="mat-icon material-icons">add</mat-icon>Add New
                    </span>
                </mat-toolbar>
                <mat-selection-list class="address-selection">

                    <mat-list-option selected="{{address.selected}}" (click)="selectAddress(address, order.clientAddress, 1)" class="orders-list" *ngFor="let address of order.clientAddress">
                            <p>{{address.address1}}</p>
                            <p>{{address.address2}}</p>
                            <p>{{address.city}}</p>
                            <p>{{address.state}}</p>
                            <p>{{address.country_name}}</p>

                    </mat-list-option>
                </mat-selection-list>
                <mat-toolbar class="mat-toolbar-strip">
                    <h3>Select Billing Address<span *ngIf="order.selectedBillingError" class="error-msg error-strip">Please Select Billing Address</span></h3>
                    <span fxFlex></span>
                    <span class="add-link" (click)="goToCreateAddress(stepper, 'company')">
                        <mat-icon class="mat-icon material-icons">add</mat-icon>Add New
                    </span>
                </mat-toolbar>
                <mat-selection-list class="address-selection">

                        <mat-list-option selected="{{address.selected}}" (click)="selectAddress(address, order.companyAddress, 2)" class="orders-list" *ngFor="let address of order.companyAddress">
                                <p>{{address.address1}}</p>
                                <p>{{address.address2}}</p>
                                <p>{{address.city}}</p>
                                <p>{{address.state}}</p>
                                <p>{{address.country_name}}</p>
                        </mat-list-option>
                    </mat-selection-list>

            </mat-dialog-content>
            <mat-dialog-actions>
                <span fxFlex></span>
                <button mat-button mat-dialog-close>Cancel</button>
                <button mat-raised-button color="primary" (click)="createOrder()">Create Order</button>
            </mat-dialog-actions>
        </mat-step>
        <mat-step>
            <mat-dialog-content>
                <div class="modal-label">Create Address</div>
                <mat-list>
                    <form [formGroup]="createAddressForm">
                        <mat-form-field class="custom-input" floatLabel="never" *ngIf="(order.addressType=='client')">
                                <label class="custom-label">{{language.defaults.addressType}}</label>
                            <mat-select placeholder={{language.defaults.addressType}} formControlName="address_type_id">
                                <mat-option *ngFor="let addre of order.address_types" [value]="addre.id">{{addre.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="custom-input" floatLabel="never">
                            <label class="custom-label">Address1</label>
                            <input matInput formControlName="address1" placeholder="Address1">
                            <mat-error *ngIf="createAddressForm.controls.address1.hasError('required')" >
                                Please Enter Address1
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="custom-input" floatLabel="never">
                            <label class="custom-label">Address2</label>
                            <input matInput formControlName="address2" placeholder="Address2">
                        </mat-form-field>
                        <mat-form-field class="custom-input" floatLabel="never">
                            <label class="custom-label">Postal Code</label>
                            <input matInput formControlName="postal_code" placeholder="Postal Code">
                        </mat-form-field>
                        <mat-form-field class="custom-input" floatLabel="never">
                            <label class="custom-label">City</label>
                            <input matInput formControlName="city" placeholder="City">
                        </mat-form-field>
                        <mat-form-field class="custom-input" floatLabel="never">
                            <label class="custom-label">Country</label>
                            <mat-select placeholder={{language.defaults.selectCountry}} (change)="onCountryChange($event)" formControlName="country">
                                <mat-option *ngFor="let country of order.countries" [value]="country.id">{{country.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="custom-input" floatLabel="never">
                            <label class="custom-label">State</label>
                            <mat-select placeholder={{language.defaults.selectState}} formControlName="state">
                                <mat-option *ngFor="let state of order.states" [value]="state.id">{{state.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </form>
                </mat-list>
            </mat-dialog-content>
            <mat-dialog-actions>
                <span fxFlex></span>
                <button mat-button mat-dialog-close>Cancel</button>
                <button mat-raised-button color="primary" (click)="createAddress(createAddressForm,stepper)">Create Address and Select</button>
            </mat-dialog-actions>
        </mat-step>
    </mat-horizontal-stepper>

</div>