<mat-toolbar>
	<h2 mat-dialog-title></h2>
		<span fxFlex>{{language.defaults.deleteInventory}}</span>
		<!--<button mat-icon-button mat-dialog-close>
    		<mat-icon>close</mat-icon>
  		</button>-->
</mat-toolbar>
<mat-dialog-content class="delete-body">
  	<span>Are you sure you want to delete Batch {{data.batch_nbr}}?</span>
</mat-dialog-content>
<mat-dialog-actions>
  	<span fxFlex></span>
  		<button  mat-button mat-dialog-close>{{language.defaults.cancel}}</button>
  		<button  mat-raised-button (click)="deleteInventory()">{{language.defaults.deleteX}}</button>
</mat-dialog-actions>