
  
  <mat-toolbar>
    <h2 mat-dialog-title></h2>
    <span fxFlex>Add New Value</span>
  </mat-toolbar>
  <mat-dialog-content>
    
    <div class="example-form" >
      <form [formGroup]="autoSuggestForm">
        <div class="dialog-form">
          <div class="sp-form-elements">
              <mat-form-field class="custom-input mandatory field-value" floatLabel="never">
              <label class="custom-label">Value</label>
              <input class="sp-form-input" autocomplete="off" matInput placeholder="Enter Value" formControlName="label" tabindex="0" maxlength="100">
              <mat-error *ngIf="formSubmit && autoSuggestForm.controls.label.hasError('whitespace')">Please enter Value</mat-error>
            <mat-error *ngIf="formSubmit && autoSuggestError">A Value with this name already exists.</mat-error>
              
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
    <div class="loader spinner dialog-spinner" *ngIf="loader" ></div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <span fxFlex></span>
    <div class="btn-actions text-right box">
      
      <button class="mat-button" (click)="closeDialog()">Cancel</button>
      <button mat-raised-button  (click)="addAutoSuggestValue(autoSuggestForm)">Save</button>
    </div>
  </mat-dialog-actions>
 