// @import "../../roles/roles-details/roles-details.component";
// .container-inline-feilds{
//     height: 100%;
//     box-sizing: border-box;
//     display: flex;
//     max-height: 100%;
//     align-items: center;
//     max-width: 80%;
//     flex-wrap: wrap;
//     justify-content: space-between;
// }
// .marginLR_15{
//     margin-left: 15px;
//     margin-right: 15px;
// }
.i-icon{
    font-size: 16px;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 65px;
    top: -19px;
    color: #565656;
}
.i-icon-t{
    font-size: 16px;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 120px;
    top: -19px;
    color: #565656;
}

.i-icon-u{
    font-size: 16px;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 142px;
    top: -19px;
    color: #565656;
}
