<mat-toolbar>
  <h2 mat-dialog-title>
    {{ data.address.id ? "Edit Address" : "Add Address" }}
  </h2>
</mat-toolbar>
<mat-dialog-content>
  <!-- <mat-selection-list class="selection-address">
			<mat-list-option *ngFor="let address of clientAddress; let i =index;"
			selected="{{address.selected ? true:false}}"  
							checkboxPosition = 'before'
							disableRipple = true
							(click)="getAddress(address, clientAddress)" 
							class="address-list" 
							>
				<p>Address {{i+1}}</p>
			</mat-list-option>
		</mat-selection-list> -->
  <!-- <div style="margin-top: 8px; display: flex; justify-content: space-between">
    <div>
      <mat-checkbox
        *ngIf="data.sameAsShipping"
        color="primary"
        [(ngModel)]="sameAsShipping"
      >
        Same as Shipping Address</mat-checkbox
      >
    </div>
    <div>
      <mat-checkbox color="primary" [(ngModel)]="sameAsBilling">
        Same as Billing Address</mat-checkbox
      >
    </div>
  </div> -->

  <div
    style="margin-top: 8px"
    *ngIf="data.sameAsShipping || data.sameAsBilling"
  >
    <mat-radio-group
      style="width: 100%; display: flex; gap: 84px"
      [(ngModel)]="selectedAddress"
      aria-label="Select Address"
    >
      <div>
        <mat-radio-button
          color="primary"
          [value]="'shipping'"
          [disabled]="!data.sameAsShipping"
        >
          Same as Shipping Address
        </mat-radio-button>
      </div>
      <div>
        <mat-radio-button
          color="primary"
          [value]="'billing'"
          [disabled]="!data.sameAsBilling"
        >
          Same as Billing Address
        </mat-radio-button>
      </div>
    </mat-radio-group>
  </div>

  <form>
    <app-form-builder
      [module]="data.module ? data.module : 'add_address'"
      (trigger)="formEmitEvent($event)"
      (emitUploadInfo)="emitUploadInfo($event)"
      [Contacts]="data.id"
      [address_form_id]="data.prefill_id ? data.prefill_id : ''"
      [AddressInfo]="{
        shipping: data.sameAsShipping,
        billing: data.sameAsBilling
      }"
      [selectedAddress]="selectedAddress"
      [editTypeForRestrict]="data.type === 'edit' ? true : false"
      [isAddress]="true"
      [related_to_id]="data.org_id ? data.org_id : ''"
    ></app-form-builder>
  </form>
</mat-dialog-content>
<mat-spinner class="medium-spinner" *ngIf="showSpinner"></mat-spinner>
<mat-dialog-actions>
  <span fxFlex></span>
  <button class="back-btn-ui" mat-dialog-close>
    {{ language.defaults.cancel }}
  </button>
  <button
    mat-raised-button
    (click)="addAddress(addressForm)"
    [disabled]="disabledSave || !addressForm || addressForm?.invalid"
  >
    {{ newAddress }}
  </button>
</mat-dialog-actions>
