<mat-spinner
  class="medium-spinner"
  *ngIf="invoiceGenerateLoader || creatingComposite"
></mat-spinner>

<div class="orders">
  <div>
    <mat-horizontal-stepper #stepper>
      <mat-step-header></mat-step-header>
      <mat-step>
        <div fxLayout="row">
          <!-- Orders List view filters sidebar -->
          <div class="center-section-scroll vh-100 d-flex secundory-menu">
            <div class="flex-fixed-header menu-title">
              <h1>Orders ({{ totalCount }})</h1>
            </div>
            <perfect-scrollbar
              class="flex-scroll-items p-l-8 p-r-8 estimate-flter-panel"
              style="margin-top: 8px"
            >
              <div @ordersAnimate class="align-flex">
                <!-- <div class="fxFlex side-nav-section">
                  <div class="label">{{ language.defaults.filterStatus }}</div>
                  <mat-selection-list
                    class="status-selection filters-list"
                    [formControl]="orders.slectedStatus"
                  >
                    <mat-list-option
                      (click)="checkboxChange(status)"
                      (change)="selectState()"
                      [value]="status.id"
                      class="orders-list"
                      *ngFor="let status of orders.status"
                    >
                      {{ status.name }}
                    </mat-list-option>
                  </mat-selection-list>
                </div> -->
                <div
                  class="fxFlex custom-date-container filter-dates order-date-picker2"
                  style="margin-bottom: 14px"
                >
                  <div
                    class="label font-600"
                    style="
                      color: #565656;
                      text-transform: capitalize;
                      font-size: 14px;
                      padding-top: 2px;
                      letter-spacing: normal;
                    "
                  >
                    Order Date
                  </div>
                  <input
                    class="datepicker"
                    [(ngModel)]="orders.mfg_date"
                    [matDatepicker]="picker"
                    (click)="openCalendar(picker)"
                    (dateChange)="datePickerChange()"
                    (focus)="openCalendar(picker)"
                    placeholder="Select Order Date"
                    readonly
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </div>
                <div class="fxFlex side-nav-section">
                  <mat-form-field
                    class="custom-input custom-client"
                    floatLabel="never"
                    style="width: 100%; margin-top: 20px"
                  >
                    <label class="custom-label font-600">Status</label>
                    <mat-select
                      panelClass="myPanelClass"
                      class="chips-select"
                      placeholder="Select Status"
                      (selectionChange)="clientChange()"
                      [formControl]="orders.slectedStatus"
                      (openedChange)="openedChange($event)"
                      multiple
                    >
                      <mat-select-trigger>
                        <mat-chip-list
                          *ngIf="orders.slectedStatus.value?.length"
                        >
                          <mat-chip
                            *ngFor="let prodId of orders.slectedStatus.value"
                            [removable]="true"
                            (removed)="
                              removeClient(prodId, orders.slectedStatus)
                            "
                          >
                            {{ getClientName(prodId, orders.status) }}
                            <mat-icon matChipRemove>cancel</mat-icon>
                          </mat-chip>
                        </mat-chip-list>
                      </mat-select-trigger>
                      <mat-option
                        (click)="checkboxChange(status)"
                        [value]="status.id"
                        class="orders-list"
                        *ngFor="let status of orders.status"
                      >
                        {{ status.name }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="fxFlex side-nav-section">
                  <mat-form-field
                    class="custom-input custom-client pt-4"
                    floatLabel="never"
                    style="width: 100%"
                  >
                    <label class="custom-label font-600">Shipper Address</label>
                    <mat-select
                      panelClass="myPanelClass"
                      class="chips-select"
                      placeholder="Select Shipper Address"
                      (selectionChange)="clientChange()"
                      [formControl]="orders.slectedshipAdd"
                      (openedChange)="openedChange($event)"
                      multiple
                    >
                      <mat-select-trigger>
                        <mat-chip-list
                          *ngIf="orders.slectedshipAdd.value?.length"
                        >
                          <mat-chip
                            *ngFor="let prodId of orders.slectedshipAdd.value"
                            [removable]="true"
                            (removed)="
                              removeClient(prodId, orders.slectedshipAdd)
                            "
                          >
                            {{
                              getShipperAddressName(
                                prodId,
                                orders.shippingAddress
                              )
                            }}
                            <mat-icon matChipRemove>cancel</mat-icon>
                          </mat-chip>
                        </mat-chip-list>
                      </mat-select-trigger>
                      <mat-option
                        (click)="checkboxChange(status)"
                        [value]="status.id"
                        class="orders-list"
                        *ngFor="let status of orders.shippingAddress"
                      >
                        {{ status.address1 }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>

                <!-- <div class="fxFlex side-nav-section" *ngIf="blockContent">
                  <mat-form-field
                    class="custom-input custom-client"
                    floatLabel="never"
                    style="width: 100%"
                  >
                    <label class="custom-label font-600">Products</label>
                    <mat-select
                      panelClass="myPanelClass-order"
                      placeholder="Select Product"
                      (selectionChange)="ProductChange()"
                      [formControl]="orders.selectedProduct"
                      (openedChange)="openedChange($event)"
                      multiple
                    >
                      <mat-select-trigger>
                        <span class="example-additional-selection">
                          {{
                            orders.selectedProduct.value?.length > 1
                              ? orders.selectedProduct.value.length +
                                " Products Selected"
                              : "1 Product Selected"
                          }}
                        </span>
                      </mat-select-trigger>
                      <mat-option
                        (click)="checkboxChange(product)"
                        [value]="product.id"
                        class="orders-list"
                        *ngFor="let product of orders.productsList"
                      >
                        {{ product.name }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div> -->

                <div class="fxFlex side-nav-section" *ngIf="blockContent">
                  <mat-form-field
                    class="custom-input custom-client pt-4"
                    floatLabel="never"
                    style="width: 100%"
                  >
                    <label class="custom-label font-600">Products</label>
                    <mat-select
                      panelClass="myPanelClass"
                      class="chips-select"
                      placeholder="Select Products"
                      (selectionChange)="clientChange()"
                      [formControl]="orders.selectedProduct"
                      (openedChange)="openedChange($event)"
                      multiple
                    >
                      <mat-select-trigger>
                        <mat-chip-list
                          *ngIf="orders.selectedProduct.value?.length"
                        >
                          <mat-chip
                            *ngFor="let prodId of orders.selectedProduct.value"
                            [removable]="true"
                            (removed)="
                              removeClient(prodId, orders.selectedProduct)
                            "
                          >
                            {{ getClientName(prodId, orders.productsList) }}
                            <mat-icon matChipRemove>cancel</mat-icon>
                          </mat-chip>
                        </mat-chip-list>
                      </mat-select-trigger>
                      <mat-option
                        (click)="checkboxChange(status)"
                        [value]="status.id"
                        class="orders-list"
                        *ngFor="let status of orders.productsList"
                      >
                        {{ status.name }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="fxFlex side-nav-section" *ngIf="blockContent">
                  <!-- <mat-form-field
                    class="custom-input custom-client"
                    floatLabel="never"
                    style="width: 100%"
                  >
                    <label class="custom-label font-600">Clients</label>
                    <mat-select
                      panelClass="myPanelClass-order"
                      placeholder="Select Client"
                      (selectionChange)="clientChange()"
                      [formControl]="orders.selectedClients"
                      (openedChange)="openedChange($event)"
                      multiple
                    >
                    
                      <mat-select-trigger>
                        <span class="example-additional-selection">
                          {{
                            orders.selectedClients.value?.length > 1
                              ? orders.selectedClients.value.length +
                                " Clients Selected"
                              : "1 Client Selected"
                          }}
                        </span>
                      </mat-select-trigger>
                      <mat-option
                        *ngFor="let client of orders.organizations"
                        (click)="checkboxChange(client)"
                        [value]="client.id"
                      >
                        {{ client.name }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field> -->

                  <mat-form-field
                    class="custom-input custom-client pt-4"
                    floatLabel="never"
                    style="width: 100%"
                  >
                    <label class="custom-label font-600">Clients</label>
                    <mat-select
                      panelClass="myPanelClass-order"
                      class="chips-select"
                      placeholder="Select Client"
                      (selectionChange)="clientChange()"
                      [formControl]="orders.selectedClients"
                      (openedChange)="openedChange($event)"
                      multiple
                    >
                      <mat-select-trigger>
                        <mat-chip-list
                          *ngIf="orders.selectedClients.value?.length"
                        >
                          <mat-chip
                            *ngFor="let prodId of orders.selectedClients.value"
                            [removable]="true"
                            (removed)="
                              removeClient(prodId, orders.selectedClients)
                            "
                          >
                            {{ getClientName(prodId, orders.organizations) }}
                            <mat-icon matChipRemove>cancel</mat-icon>
                          </mat-chip>
                        </mat-chip-list>
                      </mat-select-trigger>
                      <mat-option
                        (click)="checkboxChange(status)"
                        [value]="status.id"
                        class="orders-list"
                        *ngFor="let status of orders.organizations"
                      >
                        {{ status.name }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="fxFlex side-nav-section" *ngIf="blockContent">
                  <!-- <mat-form-field
                    class="custom-input custom-client"
                    floatLabel="never"
                    style="width: 100%"
                  >
                    <label class="custom-label font-600">Account Manager</label>
                    <mat-select
                      panelClass="myPanelClass-order-account"
                      placeholder="Select Account Manager"
                      (selectionChange)="clientChange()"
                      [formControl]="orders.selectedManager"
                      (openedChange)="openedChange($event)"
                      multiple
                    >
                      <mat-select-trigger>
                        <span class="example-additional-selection">
                          {{
                            orders.selectedManager.value?.length > 1
                              ? orders.selectedManager.value.length +
                                " Account Manager Selected"
                              : "1 Account Manager Selected"
                          }}
                        </span>
                      </mat-select-trigger>
                      <mat-option
                        (click)="checkboxChange(manager)"
                        [value]="manager.account_manager"
                        class="orders-list"
                        *ngFor="let manager of orders.accountManagerList"
                      >
                        {{ manager.account_manager }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field> -->

                  <mat-form-field
                    class="custom-input custom-client pt-4"
                    floatLabel="never"
                    style="width: 100%"
                  >
                    <label class="custom-label font-600">Account Manager</label>
                    <mat-select
                      panelClass="myPanelClass-order-account"
                      class="chips-select"
                      placeholder="Select Account Manager"
                      (selectionChange)="clientChange()"
                      [formControl]="orders.selectedManager"
                      (openedChange)="openedChange($event)"
                      multiple
                    >
                      <mat-select-trigger>
                        <mat-chip-list
                          *ngIf="orders.selectedManager.value?.length"
                        >
                          <mat-chip
                            *ngFor="let prodId of orders.selectedManager.value"
                            [removable]="true"
                            (removed)="
                              removeClient(prodId, orders.selectedManager)
                            "
                          >
                            {{
                              getManagerName(prodId, orders.accountManagerList)
                            }}
                            <mat-icon matChipRemove>cancel</mat-icon>
                          </mat-chip>
                        </mat-chip-list>
                      </mat-select-trigger>
                      <mat-option
                        (click)="checkboxChange(status)"
                        [value]="status.account_manager"
                        class="orders-list"
                        *ngFor="let status of orders.accountManagerList"
                      >
                        {{ status.account_manager }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <mat-spinner
                class="medium-spinner"
                *ngIf="filtersLoader"
              ></mat-spinner>
            </perfect-scrollbar>

            <div class="flex-fixed-footer" *ngIf="showFilter">
              <button class="back-btn-ui" (click)="clearFilterData()">
                {{ language.defaults.clear }}
              </button>
              <span fxFlex></span>
              <button
                mat-raised-button
                class="app-white-btn"
                (click)="applyFilterData()"
                [disabled]="disableFilter"
              >
                Apply Filter
              </button>
            </div>
          </div>
          <!-- end Orders List view filters sidebar -->

          <!-- Orders List view -->
          <div class="center-section-scroll vh-100 d-flex body-color">
            <div class="page-header-ui">
              <div
                class="flex-fixed-header page-title container-ui"
                [style.background-color]="
                  multiActions && showCompositeComfirmation ? '#E9ECF0' : ''
                "
              >
                <div
                  *ngIf="multiActions && showCompositeComfirmation"
                  class="composite-invoice-container"
                >
                  <div class="composite-invoice-message">
                    <h1 style="font-size: 16px; padding-left: 16px">
                      Create Joint Invoice For
                      {{ multiActOrders.length }} Sales Orders From
                      {{ multiActOrders[0]?.client_name }}
                    </h1>
                  </div>
                </div>
                <div style="align-items: baseline; gap: 29px" class="d-flex">
                  <div
                    *ngIf="!showCompositeComfirmation"
                    class="search-ui"
                    (click)="onMulltiRecoredChnage($event)"
                  >
                    <input
                      matInput
                      placeholder=""
                      #search
                      (keyup)="searchOrders(search.value, $event)"
                      placeholder="Search By Order Number"
                      (blur)="
                        !search.value.length ? (open = false) : (open = true)
                      "
                      [(ngModel)]="params.search"
                    />
                    <mat-icon
                      matPrefix
                      (click)="open = !open"
                      class="org-search"
                      >search</mat-icon
                    >
                    <mat-icon matSuffix *ngIf="searching" class="spinner">
                      <mat-spinner class="small-spinner"></mat-spinner>
                    </mat-icon>
                    <!-- <mat-icon class="search-info" *ngIf="!search.value.length" title="Search By Order Number" matTooltip="Search with Order Number/Po Number/Invoice Name">info</mat-icon> -->
                    <mat-icon
                      class="search-close"
                      matSuffix
                      *ngIf="!searching && search.value.length"
                      (click)="search.value = ''; searchOrders(search.value)"
                      >close</mat-icon
                    >
                  </div>
                  <div *ngIf="multiActions" class="merge-button">
                    <button
                      mat-raised-button
                      color="warn"
                      id="2"
                      class="create-order-btn"
                      (click)="conformshipment()"
                    >
                      Create Shipment
                    </button>
                  </div>
                  <!-- <mat-form-field
                    *ngIf="multiActions && !showCompositeComfirmation"
                    class="custom-input mandatory"
                    floatLabel="never"
                  >
                    <mat-select
                      (selectionChange)="onMulltiRecoredChnage($event)"
                      placeholder="Multi-Record Actions"
                    >
                      <mat-option
                        *ngFor="let value of multiRecordList"
                        [value]="value.id"
                        [disabled]="value.id === 1 && multiActOrders.length < 2"
                        >{{ value.name }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field> -->
                </div>

                <div class="d-flex">
                  <div class="merge-button" ngTf>
                    <button
                      mat-raised-button
                      color="warn"
                      id="2"
                      (click)="Merge()"
                      *ngIf="showMergebutton && !is_aapl"
                      class="create-order-btn"
                    >
                      Merge Order
                    </button>
                    <div
                      *ngIf="multiActions && showCompositeComfirmation"
                      class="button-container"
                    >
                      <!-- class="cancel-button" -->
                      <button
                        mat-flat-button
                        class="custom-disabled-style"
                        (click)="onCancleRecordActions()"
                      >
                        Cancel
                      </button>
                      <!-- class="confirm-button" -->
                      <button
                        mat-raised-button
                        (click)="onCreateCompositeInvoice()"
                      >
                        Confirm
                      </button>
                    </div>
                  </div>

                  <!--hiding create order for aapl feature-->
                  <!-- *ngIf="is_automech" -->
                  <div *ngIf="adminService.rolePermissions.create_order == 1">
                    <button
                      mat-raised-button
                      color="warn"
                      (click)="createOrder()"
                      class="create-order-btn"
                    >
                      Create Order
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <perfect-scrollbar>
              <div class="list-view-table">
                <div
                  class="table-header-ui top-sticky z-index-8"
                  style="top: 16px"
                  *ngIf="orders.data.length"
                >
                  <div class="container-ui">
                    <mat-list-item class="mat-list-item header-cleint">
                      <div class="item-container justify-left" fxFlex="18">
                        Order number
                      </div>
                      <div class="item-container justify-left" fxFlex="16">
                        Attention
                      </div>
                      <div class="item-container justify-left" fxFlex="12">
                        Account manager
                      </div>
                      <div class="item-container justify-center" fxFlex="12">
                        Shipments
                      </div>
                      <div
                        class="item-container"
                        style="justify-content: center"
                        fxFlex="14"
                        *ngIf="!is_automech"
                      >
                        PO No
                      </div>
                      <div
                        class="item-container justify-right"
                        style="justify-content: end"
                        fxFlex="14"
                      >
                        Amount
                      </div>
                      <div
                        class="item-container status-align"
                        fxFlex="14"
                        style="justify-content: space-between"
                      >
                        Status
                      </div>
                    </mat-list-item>
                  </div>
                </div>

                <div
                  class="global_list_view container-ui p-b-16"
                  infiniteScroll
                  [infiniteScrollDistance]="1"
                  [infiniteScrollThrottle]="50"
                  (scrolled)="onScroll()"
                  [scrollWindow]="false"
                >
                  <div fxLayout="column" fxFlex="100">
                    <div>
                      <div *ngIf="!fetchingData" class="multi-list-ui">
                        <mat-list
                          @ordersAnimate
                          *ngFor="let orderItem of orders.data; let key = index"
                        >
                          <h3 mat-subheader class="list-date">
                            {{ orderItem.date }}
                          </h3>
                          <!-- (click)="orderDetails(stepper, order)" -->
                          <div class="list-item-card">
                            <mat-list-item
                              class="order-list-row"
                              *ngFor="let order of orderItem.list"
                            >
                              <div
                                (click)="$event.stopPropagation()"
                                class="item-container"
                                fxFlex="18"
                              >
                                <div
                                  class="d-flex align-items-center avatar-cell o-hidden"
                                >
                                  <!--  
                                  <div class="order-checkbox">
                                    <mat-checkbox
                                      *ngIf="is_aapl"
                                      (click)="$event.stopPropagation()"
                                      class="example-margin"
                                      (change)="MergeOrderCheckbox(order)"
                                      [(ngModel)]="order.selceted"
                                      [checked]="order.selected"
                                      [disabled]="showCompositeComfirmation"
                                      >{{ order.index }}
                                    </mat-checkbox>
                                    <mat-checkbox
                                      *ngIf="!is_aapl && !is_merge"
                                      [disabled]="
                                        order.status == 'In-transit' ||
                                        order.status == 'Processed' ||
                                        order.status == 'Delivered' ||
                                        order.status == 'Cancelled' ||
                                        order.status ==
                                          'Confirmation Pending' ||
                                        order.status == 'Customs Clearance' ||
                                        order.status == 'Docs Completed' ||
                                        order.status == 'Mail Sent' ||
                                        order.status == 'Order Confirmed' ||
                                        order.status == 'Order Ready' ||
                                        order.status == 'Ready for Dispatch' ||
                                        order.status == 'Shipped on Board' ||
                                        order.status ==
                                          'Documentation Completed'
                                      "
                                      (click)="$event.stopPropagation()"
                                      class="example-margin"
                                      (change)="MergeOrderCheckbox(order)"
                                      [(ngModel)]="order.selceted"
                                      >{{ order.index }}
                                    </mat-checkbox>
                                  </div> -->
                                  <div class="icon-sec">
                                    <img
                                      [src]="images.ordersIcon_o"
                                      title="Orders"
                                    />
                                  </div>
                                  <div
                                    (click)="orderDetails(stepper, order)"
                                    class="content-sec o-hidden ellipsis-text"
                                  >
                                    <h1
                                      title="{{ order.order_no }}"
                                      class="ellipsis-text hyper_link"
                                    >
                                      {{ order.selected }}
                                      {{ order.order_no }}
                                      <mat-icon
                                        *ngIf="order.special_instructions"
                                        class="flag-orders"
                                        title="{{ order.special_instructions }}"
                                      >
                                        flag</mat-icon
                                      >
                                    </h1>
                                    <small
                                      title="{{ order.product_names }}"
                                      class="ellipsis-text"
                                    >
                                      {{ order.product_names }}</small
                                    >
                                  </div>
                                </div>
                              </div>

                              <div class="item-container" fxFlex="16">
                                <div
                                  class="d-flex align-items-center avatar-cell o-hidden"
                                >
                                  <mat-icon
                                    mat-list-icon
                                    class="avatar-list"
                                    *ngIf="order.client_image"
                                  >
                                    <div
                                      class="mat-order-avatar"
                                      [ngStyle]="{
                                        'background-image':
                                          'url(' + order.client_image + ')'
                                      }"
                                    ></div>
                                  </mat-icon>
                                  <div
                                    mat-list-icon
                                    class="no-order-image"
                                    *ngIf="!order.client_image"
                                  >
                                    <span class="mat-avatar">{{
                                      order.client_name | contactImageName : 2
                                    }}</span>
                                  </div>
                                  <div
                                    class="content-sec o-hidden ellipsis-text"
                                  >
                                    <h1
                                      class="normal ellipsis-text"
                                      title="{{ order.client_name }}"
                                    >
                                      {{ order.client_name }}
                                    </h1>
                                    <small
                                      class="client-name ellipsis-text"
                                      title="{{ order.name }}"
                                    >
                                      {{ order.name }}</small
                                    >
                                  </div>
                                </div>
                              </div>
                              <div
                                class="item-container po_no"
                                fxFlex="12"
                                style="
                                  display: flex;
                                  align-items: center;
                                  justify-content: start;
                                "
                              >
                                <p
                                  mat-line
                                  title="{{ order?.account_manager }}"
                                >
                                  {{
                                    order?.account_manager
                                      ? order?.account_manager
                                      : "--"
                                  }}
                                </p>
                              </div>
                              <div
                                class="item-container po_no"
                                fxFlex="12"
                                style="
                                  align-items: center;
                                  display: flex;
                                  flex-direction: column;
                                "
                              >
                                <!-- Display initial two shipments -->
                                <div>
                                  <ng-container
                                    *ngFor="
                                      let shipment of order?.shipments
                                        | slice : 0 : 2
                                    "
                                  >
                                    <a
                                      style="
                                        padding-bottom: 4px;
                                        color: #253957;
                                        text-decoration: underline;
                                        font-weight: 500;
                                      "
                                      mat-line
                                      class="mat-line hyper_link"
                                      [routerLink]="[
                                        '/orders',
                                        shipment.order_id,
                                        'shipments',
                                        shipment.shipment_id
                                      ]"
                                      [title]="shipment.shipment_no"
                                    >
                                      {{ shipment?.shipment_no }}
                                    </a>
                                  </ng-container>
                                </div>

                                <!-- Toggle button to show dropdown menu -->
                                <p
                                  style="font-size: 12px; cursor: pointer"
                                  *ngIf="order?.shipments.length > 2"
                                  mat-button
                                  [matMenuTriggerFor]="belowMenu"
                                >
                                  View More
                                </p>
                              </div>

                              <!-- Mat Menu for additional shipments -->
                              <mat-menu
                                #belowMenu="matMenu"
                                yPosition="below"
                                class="mat-menu-custom"
                              >
                                <ng-container
                                  *ngFor="
                                    let shipment of order?.shipments | slice : 2
                                  "
                                >
                                  <a
                                    mat-line
                                    class="mat-line hyper_link"
                                    style="
                                      color: #253957;
                                      text-decoration: underline;
                                      font-weight: 500;
                                      line-height: 28px;
                                      height: auto;
                                      border-bottom: 1px solid #ebeaea;
                                      text-align: center;
                                    "
                                    mat-menu-item
                                    [routerLink]="[
                                      '/orders',
                                      shipment?.order_id,
                                      'shipments',
                                      shipment?.shipment_id
                                    ]"
                                    [title]="shipment.shipment_no"
                                  >
                                    {{ shipment?.shipment_no }}
                                  </a>
                                </ng-container>
                              </mat-menu>
                              <div
                                class="item-container po_no"
                                style="text-align: center"
                                fxFlex="14"
                                *ngIf="App.instance == 'zunax'"
                              >
                                <p mat-line title="{{ order?.po_nbr }}">
                                  {{ order?.po_nbr ? order.po_nbr : "--" }}
                                </p>
                              </div>

                              <div
                                class="item-container po_no"
                                style="text-align: center"
                                fxFlex="14"
                                *ngIf="!is_automech && App.instance != 'zunax'"
                              >
                                <div>
                                  <ng-container
                                    *ngFor="
                                      let po of order?.pos | slice : 0 : 2
                                    "
                                  >
                                    <a
                                      style="
                                        padding-bottom: 4px;
                                        color: #253957;
                                        text-decoration: underline;
                                        font-weight: 500;
                                      "
                                      mat-line
                                      class="mat-line hyper_link"
                                      [routerLink]="['/po', po.po_id]"
                                      [title]="po.po_no"
                                    >
                                      {{ po?.po_no }}
                                    </a>
                                  </ng-container>
                                </div>

                                <p
                                  style="font-size: 12px; cursor: pointer"
                                  *ngIf="order?.pos.length > 2"
                                  mat-button
                                  [matMenuTriggerFor]="poMenu"
                                >
                                  View More
                                </p>
                              </div>
                              <mat-menu
                                #poMenu="matMenu"
                                yPosition="below"
                                class="mat-menu-custom"
                              >
                                <ng-container
                                  *ngFor="let po of order?.pos | slice : 2"
                                >
                                  <a
                                    mat-line
                                    class="mat-line hyper_link"
                                    style="
                                      color: #253957;
                                      text-decoration: underline;
                                      font-weight: 500;
                                      line-height: 28px;
                                      height: auto;
                                      border-bottom: 1px solid #ebeaea;
                                      text-align: center;
                                    "
                                    mat-menu-item
                                    [routerLink]="['/po', po?.po_id]"
                                    [title]="po?.po_no"
                                  >
                                    {{ po?.po_no }}
                                  </a>
                                </ng-container>
                              </mat-menu>

                              <div
                                class="item-container amount_container text-right"
                                fxFlex="14"
                              >
                                <p mat-line title="{{ order.total_amount }}">
                                  {{ order.currency }}
                                  {{ order.total_amount }}
                                </p>
                              </div>
                              <div
                                class="item-container status-cell status-tag-container"
                                fxFlex="14"
                                style="
                                  display: flex;
                                  justify-content: space-between;
                                  width: 100%;
                                "
                              >
                                <div
                                  class="client-status"
                                  [ngClass]="{
                                    accepted: order.status == 'Accepted',
                                    created: order.status == 'Created',
                                    'in-transit': order.status == 'In-transit',
                                    delivered: order.status == 'Delivered',
                                    cancelled: order.status == 'Cancelled',
                                    received: order.status == 'Received',
                                    processing: order.status == 'Processing',
                                    placed: order.status == 'Placed',
                                    draft: order.status == 'Draft',
                                    passed: order.status == 'Passed',
                                    shipped: order.status == 'Shipped',
                                    fulfilment: order.status == 'Fulfilment',
                                    pending: order.status == 'Pending',
                                    order_confirmed:
                                      order.status == 'Order Confirmed'
                                  }"
                                >
                                  {{ order.status }}
                                </div>
                                <span
                                  *ngIf="order.merge_status"
                                  style="padding-left: 50px"
                                >
                                  <img [src]="images.mergeIcons"
                                /></span>

                                <!-- <span fxFlex></span> -->

                                <mat-icon
                                  class="go-to-details"
                                  (click)="orderDetails(stepper, order)"
                                  >keyboard_arrow_right</mat-icon
                                >

                                <!-- <p class="client-status"
                                                            title="{{order.status}}"
                                                            [ngClass]="{'accepted':order.status == 'Accepted' , 'in-transit':order.status == 'In-transit', 'delivered':order.status == 'Delivered', 'cancelled':order.status == 'Cancelled','received':order.status == 'Received','processing':order.status == 'Processing'}">
                                                            {{order.status}} </p> -->
                              </div>
                            </mat-list-item>
                          </div>
                        </mat-list>
                      </div>
                    </div>

                    <div
                      class="container-ui new-center-empty-ui"
                      *ngIf="fetchingData"
                    >
                      <mat-spinner
                        class="medium-spinner"
                        *ngIf="fetchingData"
                      ></mat-spinner>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="container-ui new-center-empty-ui"
                *ngIf="!orders.data.length && !fetchingData"
              >
                <mat-card class="no-results">
                  <div class="empty-img-holder">
                    <!-- <img [src]='images.ordersIcon_o'> -->
                    <img [src]="images.ordersIcon_o" title="Orders" />
                  </div>
                  <p class="no-result-text">No Orders Found</p>
                </mat-card>
              </div>
              <div
                class="container-ui new-center-empty-ui"
                *ngIf="totalSpinner"
              >
                <mat-spinner class="medium-spinner"></mat-spinner>
              </div>
            </perfect-scrollbar>
            <div class="pagination-footer" *ngIf="totalCount != 0">
              <div class="container-ui d-flex space-between align-items-center">
                <div>
                  <p>Showing {{ listCount }} out of {{ totalCount }}</p>
                </div>
                <div>
                  <app-pagination
                    [pageLimit]="totalCount"
                    (pageloadMore)="loadMore($event)"
                    [pageNumber]="pageNumber"
                  ></app-pagination>
                </div>
              </div>
            </div>
          </div>
          <!-- End Orders List View -->
        </div>
      </mat-step>
    </mat-horizontal-stepper>
    <!-- <div *ngIf="totalSpinner">
            <mat-spinner class="medium-spinner"></mat-spinner>
        </div> -->
  </div>
</div>
