<mat-spinner class="medium-spinner" *ngIf="invoiceGenerateLoader"></mat-spinner>

<div class="orders">
  <div>
    <mat-horizontal-stepper #stepper>
      <mat-step-header></mat-step-header>
      <mat-step>
        <div fxLayout="row">
          <!-- PO List view filters sidebar -->
          <div class="center-section-scroll vh-100 d-flex secundory-menu">
            <div class="flex-fixed-header menu-title">
              <h1>PO ({{ totalCount }})</h1>
            </div>
            <perfect-scrollbar class="flex-scroll-items p-l-8 p-r-8" style="margin-top: 8px;">
              <div @ordersAnimate class="align-flex">
              
                <div
                class="fxFlex custom-date-container filter-dates order-date-picker2"
                style="margin-bottom: 16px"
              >
                <div
                  class="label font-600"
                  style="
                    color: #565656;
                    text-transform: capitalize;
                    font-size: 14px;
                    padding-top: 2px;
                    letter-spacing: normal;
                  "
                >
                  Created Date
                </div>
                <input
                  class="datepicker"
                  [(ngModel)]="orders.mfg_date"
                  [matDatepicker]="picker"
                  (click)="openCalendar(picker)"
                  (dateChange)="datePickerChange()"
                  (focus)="openCalendar(picker)"
                  placeholder="Select Created Date"
                  readonly
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </div>
                <div class="fxFlex side-nav-section">
                  <mat-form-field
                    class="custom-input custom-client "
                    floatLabel="never"
                    style="width: 100%; margin-top: 20px"
                  >
                    <label class="custom-label font-600">Status</label>
                    <mat-select
                      panelClass="myPanelClass"
                      class="chips-select"
                      placeholder="Select Status"
                      (selectionChange)="clientChange()"
                      [formControl]="orders.slectedStatus"
                      (openedChange)="openedChange($event)"
                      multiple
                    >
                      <mat-select-trigger>
                        <mat-chip-list
                          *ngIf="orders.slectedStatus.value?.length"
                        >
                          <mat-chip
                            *ngFor="let prodId of orders.slectedStatus.value"
                            [removable]="true"
                            (removed)="
                              removeClient(prodId, orders.slectedStatus)
                            "
                          >
                            {{ getClientName(prodId, orders.status) }}
                            <mat-icon matChipRemove>cancel</mat-icon>
                          </mat-chip>
                        </mat-chip-list>
                      </mat-select-trigger>
                      <mat-option
                        (click)="checkboxChange(status)"
                        [value]="status.id"
                        class="orders-list"
                        *ngFor="let status of orders.status"
                      >
                        {{ status.name }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
              
               
               
                <div class="fxFlex side-nav-section" *ngIf="blockContent">
                  <mat-form-field
                    class="custom-input custom-client pt-4"
                    floatLabel="never"
                    style="width: 100%"
                  >
                    <label class="custom-label font-600">Vendors</label>
                    <mat-select
                      panelClass="myPanelClass-po"
                      class="chips-select"
                      placeholder="Select Vendors"
                      (selectionChange)="clientChange()"
                      [formControl]="orders.selectedVendors"
                      (openedChange)="openedChange($event)"
                      multiple
                    >
                      <mat-select-trigger>
                        <mat-chip-list
                          *ngIf="orders.selectedVendors.value?.length"
                        >
                          <mat-chip
                            *ngFor="let prodId of orders.selectedVendors.value"
                            [removable]="true"
                            (removed)="
                              removeClient(prodId, orders.selectedVendors)
                            "
                          >
                            {{ getClientName(prodId, orders.organizations) }}
                            <mat-icon matChipRemove>cancel</mat-icon>
                          </mat-chip>
                        </mat-chip-list>
                      </mat-select-trigger>
                      <mat-option
                        (click)="checkboxChange(status)"
                        [value]="status.id"
                        class="orders-list"
                        *ngFor="let status of orders.organizations"
                      >
                        {{ status.name }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
                <!-- <div class="fxFlex side-nav-section" *ngIf="blockContent">
                  <mat-form-field
                    class="custom-input custom-client"
                    floatLabel="never"
                    style="width: 100%"
                  >
                    <label class="custom-label font-600">Products</label>
                    <mat-select
                      panelClass="myPanelClass-po"
                      placeholder="Select Product"
                      (selectionChange)="clientChange()"
                      [formControl]="orders.selectedProduct"
                      (openedChange)="openedChange($event)"
                      multiple
                    >
                      <mat-select-trigger>
                        <span class="example-additional-selection">
                          {{
                            orders.selectedProduct.value?.length > 1
                              ? orders.selectedProduct.value.length +
                                " Product Selected"
                              : "1 Product Selected"
                          }}
                        </span>
                      </mat-select-trigger>
                      <mat-option
                        (click)="checkboxChange(product)"
                        [value]="product.id"
                        class="orders-list"
                        *ngFor="let product of orders.productsList"
                      >
                        {{ product.name }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div> -->
                <div class="fxFlex side-nav-section" *ngIf="blockContent">
                  <mat-form-field
                    class="custom-input custom-client pt-4"
                    floatLabel="never"
                    style="width: 100%"
                  >
                    <label class="custom-label font-600">Products</label>
                    <mat-select
                      panelClass="myPanelClass"
                      class="chips-select"
                      placeholder="Select Products"
                      (selectionChange)="clientChange()"
                      [formControl]="orders.selectedProduct"
                      (openedChange)="openedChange($event)"
                      multiple
                    >
                      <mat-select-trigger>
                        <mat-chip-list
                          *ngIf="orders.selectedProduct.value?.length"
                        >
                          <mat-chip
                            *ngFor="let prodId of orders.selectedProduct.value"
                            [removable]="true"
                            (removed)="
                              removeClient(prodId, orders.selectedProduct)
                            "
                          >
                            {{ getClientName(prodId, orders.productsList) }}
                            <mat-icon matChipRemove>cancel</mat-icon>
                          </mat-chip>
                        </mat-chip-list>
                      </mat-select-trigger>
                      <mat-option
                        (click)="checkboxChange(status)"
                        [value]="status.id"
                        class="orders-list"
                        *ngFor="let status of orders.productsList"
                      >
                        {{ status.name }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
                <!-- <div class="fxFlex side-nav-section" *ngIf="blockContent">
                  <mat-form-field
                    class="custom-input custom-client"
                    floatLabel="never"
                    style="width: 100%"
                  >
                    <label class="custom-label">Account Manager</label>
                    <mat-select
                      placeholder="Select Account Manager"
                      (selectionChange)="clientChange()"
                      [formControl]="orders.selectedManager"
                      (openedChange)="openedChange($event)"
                      multiple
                    >
                      <mat-select-trigger>
                        <span class="example-additional-selection">
                          {{
                            orders.selectedManager.value?.length > 1
                              ? orders.selectedManager.value.length +
                                " Account Manager Selected"
                              : "1 Account Manager Selected"
                          }}
                        </span>
                      </mat-select-trigger>
                      <mat-option
                        (click)="checkboxChange(manager)"
                        [value]="manager.account_manager"
                        class="orders-list"
                        *ngFor="let manager of orders.accountManagerList"
                      >
                        {{ manager.account_manager }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div> -->
                <!-- <div class="fxFlex side-nav-section" *ngIf="blockContent">
                  <mat-form-field
                    class="custom-input custom-client"
                    floatLabel="never"
                    style="width: 100%"
                  >
                    <label class="custom-label">Country</label>
                    <mat-select
                      placeholder="Select Country"
                      (selectionChange)="clientChange()"
                      [formControl]="orders.selectedCountry"
                      (openedChange)="openedChange($event)"
                      multiple
                    >
                      <mat-select-trigger>
                        <span class="example-additional-selection">
                          {{
                            orders.selectedCountry.value?.length > 1
                              ? orders.selectedCountry.value.length +
                                " Country Selected"
                              : "1 Country Selected"
                          }}
                        </span>
                      </mat-select-trigger>
                      <mat-option
                        (click)="checkboxChange(country)"
                        selected="{{ country.selected }}"
                        class="orders-list"
                        *ngFor="let country of orders.countrysList"
                      >
                        {{ country.name }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div> -->
              </div>
              <mat-spinner
                class="medium-spinner"
                *ngIf="filtersLoader"
              ></mat-spinner>
            </perfect-scrollbar>

            <div class="flex-fixed-footer" *ngIf="showFilter">
              <button
                class="back-btn-ui"
                (click)="clearFilterData()"
              >
                {{ language.defaults.clear }}
              </button>
              <span fxFlex></span>
              <button
                mat-raised-button
                class="app-white-btn"
                (click)="applyFilterData()"
                [disabled]="disableFilter"
              >
                Apply Filter
              </button>
            </div>
          </div>
          <!-- end Orders List view filters sidebar -->

          <!-- Orders List view -->
          <div class="center-section-scroll vh-100 d-flex body-color">
            <div class="page-header-ui">
              <div class="flex-fixed-header page-title container-ui">
                <div class="d-flex">
                  <div class="search-ui">
                    <input
                      matInput
                      placeholder=""
                      #search
                      (keyup)="searchOrders(search.value, $event)"
                      placeholder="Search By PO Number"
                      (blur)="
                        !search.value.length ? (open = false) : (open = true)
                      "
                      [(ngModel)]="params.search"
                    />
                    <mat-icon
                      matPrefix
                      (click)="open = !open"
                      class="org-search"
                      >search</mat-icon
                    >
                    <mat-icon matSuffix *ngIf="searching" class="spinner">
                      <mat-spinner class="small-spinner"></mat-spinner>
                    </mat-icon>
                    <mat-icon
                      class="search-close"
                      matSuffix
                      *ngIf="!searching && search.value.length"
                      (click)="search.value = ''; searchOrders(search.value)"
                      >close</mat-icon
                    >
                  </div>
                </div>
                <div>
                  <button
                    mat-raised-button
                    color="warn"
                    (click)="CreatePO()"
                    class="create-order-btn"
                    *ngIf="createOrderPermission && adminService.rolePermissions.create_po == 1"
                  >
                    Create PO
                  </button>
                </div>
              </div>
            </div>
            <perfect-scrollbar>
              <div class="list-view-table">
                <div
                  class="table-header-ui top-sticky z-index-8"
                  style="top: 16px"
                  *ngIf="orders.data.length"
                >
                  <div class="container-ui" *ngIf="!clientPermission">
                    <mat-list-item
                      class="order-list-row mat-list-item header-cleint"
                    >
                      <div
                        class="item-container justify-start p-l-16"
                        fxFlex="16"
                      >
                        PO number
                      </div>
                      <!-- fxFlex="18"  -->
                      <div
                        class="item-container justify-left"
                        style="padding-left: 20px; width: 100%"
                      >
                        Attention
                      </div>
                      <div
                        class="item-container justify-start pl-12"
                        fxFlex="16"
                      >
                        Country
                      </div>
                      <!-- <div
                        class="item-container justify-start pl-12"
                        fxFlex="16"
                      >
                        Account Manager
                      </div> -->
                      <div
                        class="item-container justify-right"
                        fxFlex="14"
                        style="justify-content: end"
                      >
                        Amount
                      </div>
                      <div
                        class="item-container status-align p-r-16 status-padding"
                        fxFlex="20"
                      >
                        Status
                      </div>
                    </mat-list-item>
                  </div>
                </div>
                <div
                  class="global_list_view container-ui p-b-16"
                  infiniteScroll
                  [infiniteScrollDistance]="1"
                  [infiniteScrollThrottle]="50"
                  (scrolled)="onScroll()"
                  [scrollWindow]="false"
                >
                  <div fxLayout="column" fxFlex="100">
                    <div *ngIf="!clientPermission">
                      <div *ngIf="!fetchingData" class="multi-list-ui">
                        <mat-list
                          @ordersAnimate
                          *ngFor="let poItem of orders.data; let key = index"
                        >
                          <h3 mat-subheader class="list-date">
                            {{ poItem.date }}
                          </h3>
                          <div class="list-item-card">
                            <mat-list-item
                              class="order-list-row"
                              (click)="PODetails(stepper, po)"
                              *ngFor="let po of poItem.list"
                            >
                              <div class="item-container" fxFlex="16">
                                <div
                                  class="d-flex align-items-center avatar-cell o-hidden"
                                >
                                  <div class="icon-sec">
                                    <img
                                      [src]="images.addPO_stroke"
                                      title="Estimates"
                                    />
                                  </div>
                                  <div
                                    class="content-sec o-hidden ellipsis-text"
                                  >
                                    <h1
                                      title="{{ po.po_no }}"
                                      class="ellipsis-text"
                                    >
                                      {{ po.po_no }}
                                      <mat-icon
                                        *ngIf="po.special_instructions"
                                        class="flag-orders"
                                        title="{{ po.special_instructions }}"
                                      >
                                        flag</mat-icon
                                      >
                                    </h1>
                                    <small
                                      title="{{ po.product_name }}"
                                      class="ellipsis-text"
                                    >
                                      {{ po.product_name }}</small
                                    >
                                  </div>
                                </div>
                              </div>

                              <div class="item-container" style="width: 100%">
                                <div
                                  class="d-flex align-items-center avatar-cell o-hidden"
                                >
                                  <mat-icon
                                    mat-list-icon
                                    class="avatar-list"
                                    *ngIf="po.client_image"
                                  >
                                    <div
                                      class="mat-order-avatar"
                                      [ngStyle]="{
                                        'background-image':
                                          'url(' + po?.client_image + ')'
                                      }"
                                    ></div>
                                  </mat-icon>
                                  <div
                                    mat-list-icon
                                    class="no-order-image"
                                    *ngIf="!po?.client_image"
                                  >
                                    <span class="mat-avatar">{{
                                      po?.vendor_name | contactImageName : 2
                                    }}</span>
                                  </div>
                                  <div
                                    class="content-sec o-hidden ellipsis-text"
                                  >
                                    <h1
                                      class="normal ellipsis-text"
                                      title="{{ po?.vendor_name }}"
                                    >
                                      {{ po?.vendor_name }}
                                    </h1>
                                    <small
                                      class="client-name ellipsis-text"
                                      title="{{ po?.contact_name }}"
                                    >
                                      {{ po?.contact_name }}</small
                                    >
                                  </div>
                                </div>
                              </div>
                              <div
                                class="item-container country po_no"
                                fxFlex="16"
                              >
                                <p mat-line title="{{ po?.country }}">
                                  {{ po?.country }}
                                </p>
                              </div>
                              <!-- <div
                                class="item-container country account_manager"
                                fxFlex="16"
                              >
                                <p mat-line title="{{ po.account_manager }}">
                                  {{ po?.account_manager }}
                                </p>
                              </div> -->
                              <div
                                class="item-container amount_container text-right country"
                                fxFlex="14"
                                style="justify-content: end"
                              >
                                <p mat-line title="{{ po.total_amount }}">
                                  {{ po?.currency }}
                                  {{ po?.total_amount }}
                                </p>
                              </div>
                              <div
                                class="item-container status-cell status-tag-container status-padding"
                                fxFlex="20"
                              >
                                <div
                                class="client-status"  [ngClass]="{
                                  'accepted': po?.status == 'Accepted',
                                  created: po?.status == 'PO Created',
                                  'in-transit': po?.status == 'In-transit',
                                  delivered: po?.status == 'Delivered',
                                  cancelled: po?.status == 'Cancelled',
                                  received: po?.status == 'Received',
                                  processing: po?.status == 'Processing',
                                  placed: po?.status == 'Placed',
                                  draft: po?.status == 'Draft',
                                  passed: po?.status == 'Passed',
                                  shipped: po?.status == 'Shipped',
                                  fulfilment: po?.status == 'Fulfilment',
                                  pending: po?.status == 'Pending',
                                  order_confirmed: po?.status == 'Order Confirmed',
                                  po_sent: po?.status == 'PO Sent',
                                  po_approved: po?.status == 'PO Approved',
                                  po_accepted: po?.status == 'PO Accepted',
                                  po_cancelled: po?.status == 'PO Cancelled'
                                }"
                                >
                                  {{ po?.status }}
                                </div>
                                <span fxFlex></span>
                                <mat-icon class="go-to-details"
                                  >keyboard_arrow_right</mat-icon
                                >
                              </div>
                            </mat-list-item>
                          </div>
                        </mat-list>
                      </div>
                    </div>
                    <div *ngIf="clientPermission">
                      <div *ngIf="!fetchingData" class="multi-list-ui">
                        <mat-list
                          @ordersAnimate
                          *ngFor="let poItem of estimates.data; let key = index"
                        >
                          <h3 mat-subheader class="list-date">
                            {{ poItem.date }}
                          </h3>
                          <div class="list-item-card">
                            <mat-list-item
                              class="order-list-row"
                              (click)="PODetails(stepper, po)"
                              *ngFor="let po of po.list"
                            >
                              <div class="item-container" fxFlex="25">
                                <div
                                  class="d-flex align-items-center avatar-cell o-hidden"
                                >
                                  <div class="icon-sec">
                                    <img
                                      [src]="images.ordersIcon_o"
                                      title="Orders"
                                    />
                                  </div>
                                  <div class="content-sec">
                                    <h1 mat-line class="order-number">
                                      {{ po.po_nbr }}
                                    </h1>
                                    <p
                                      mat-line
                                      class="order-info"
                                      title="{{ po.product_name }}"
                                    >
                                      {{ po.product_name }}
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="item-container po_no text-right"
                                fxFlex="25"
                              >
                                <p mat-line title="{{ po?.total_quantity }} Kg">
                                  {{ po?.total_quantity }} Kg
                                </p>
                              </div>
                              <div
                                class="item-container amount_container text-right"
                                fxFlex="25"
                              >
                                <p mat-line title="{{ po?.total_amount }}">
                                  {{ po?.total_amount }}
                                </p>
                                <!-- {{order.orders.total_amount}}  -->
                              </div>
                              <div
                                class="item-container status-cell status-tag-container"
                                fxFlex="25"
                              >
                                <div class="client-status"  [ngClass]="{
                                  'accepted': po?.status == 'Accepted',
                                  created: po?.status == 'PO Created',
                                  'in-transit': po?.status == 'In-transit',
                                  delivered: po?.status == 'Delivered',
                                  cancelled: po?.status == 'Cancelled',
                                  received: po?.status == 'Received',
                                  processing: po?.status == 'Processing',
                                  placed: po?.status == 'Placed',
                                  draft: po?.status == 'Draft',
                                  passed: po?.status == 'Passed',
                                  shipped: po?.status == 'Shipped',
                                  fulfilment: po?.status == 'Fulfilment',
                                  pending: po?.status == 'Pending',
                                  order_confirmed: po?.status == 'Order Confirmed',
                                  po_sent: po?.status == 'PO Sent',
                                  po_approved: po?.status == 'PO Approved',
                                  po_accepted: po?.status == 'PO Accepted',
                                  po_cancelled: po?.status == 'PO Cancelled'
                                }">
                                  {{ po?.status }}
                                </div>
                                <span fxFlex></span>
                                <mat-icon class="go-to-details"
                                  >keyboard_arrow_right</mat-icon
                                >
                              </div>
                            </mat-list-item>
                          </div>
                        </mat-list>
                      </div>
                    </div>

                    <div
                      class="container-ui new-center-empty-ui"
                      *ngIf="fetchingData"
                    >
                      <mat-spinner
                        class="medium-spinner"
                        *ngIf="fetchingData"
                      ></mat-spinner>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="container-ui new-center-empty-ui"
                *ngIf="!orders.data.length && !fetchingData"
              >
                <mat-card class="no-results">
                  <div class="empty-img-holder">
                    <!-- <img [src]='images.ordersIcon_o'> -->
                    <img [src]="images.addPO_stroke" title="Orders" />
                  </div>
                  <p class="no-result-text">No PO Found</p>
                </mat-card>
              </div>
              <div
                class="container-ui new-center-empty-ui"
                *ngIf="totalSpinner"
              >
                <mat-spinner class="medium-spinner"></mat-spinner>
              </div>
            </perfect-scrollbar>
            <div class="pagination-footer" *ngIf="totalCount != 0">
              <div class="container-ui d-flex space-between align-items-center">
                <div>
                  <p>Showing {{ listCount }} out of {{ totalCount }}</p>
                </div>
                <div>
                  <app-pagination
                    [pageLimit]="totalCount"
                    (pageloadMore)="loadMore($event)"
                  >
                  </app-pagination>
                </div>
              </div>
            </div>
          </div>
          <!-- End PO List View -->
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
