.field-and-plus-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 14px;
}
.field-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    mat-form-field {
        width: calc(50% - 4px);
    }
}
.heading {
    font-weight: 600;
    font-family: sans-serif;
    /* letter-spacing: 0px; */
    font-size: 16px;
    &.mb-4 {
        margin-bottom: 4px;
    }
}
